<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h2 class="float-left">User Role Management</h2>
      <a class="btn btn-secondary  float-right text-white" data-toggle="modal" data-target="#userRoleModal">Add User
        Role</a>
    </div>
    <div class="card-body">
      <table id="example1" class="table table-bordered table-hover  table-striped " datatable [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger">
        <thead>
          <th>S.No</th>
          <th>User Role </th>
          <th>Is Admin</th>
          <th>Action</th>
        </thead>
        <tbody>
          <tr *ngFor="let user of allUserRoles; let i= index">
            <td>{{i+1}}</td>
            <td>{{user.name}}</td>
            <td>{{user.isAdmin}}</td>
            <td>
              <i class="fas fa-edit mx-1" data-toggle="modal" data-target="#userRoleModal"
                (click)="editUserRole(i)"></i>
              <i class="fas fa-trash-alt" (click)="deleteUserRole(i)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="userRoleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add User Role</h5>
        <a href="#" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </a>
      </div>
      <form [formGroup]="userRoleForm" (submit)="submit()">
        <div class="modal-body">
          <div class="row">
            <div class="col">
              <div class="form-row">
                <div class="col-md-4">
                  <label for="inputPrice3" class=" col-form-label">User Role</label>
                </div>
                <div class="col-md-8">
                  <input type="text" class="form-control" formControlName="name" placeholder="Enter User Role here"
                    id="user_role" name="user_role" required>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-row">
                <div class="col-md-4">
                  <label for="inputPrice3" class=" col-form-label">Is Admin</label>
                </div>
                <div class="col-md-8">
                  <p-inputSwitch class="form-control text-center" formControlName="isAdmin" required></p-inputSwitch>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="card">
              <div class="card-header text-center ">Users</div>
              <div class="card-body">
                <table class="table table-sm">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Get all </th>
                      <th scope="col">Get </th>
                      <th scope="col">Add </th>
                      <th scope="col">Edit </th>
                      <th scope="col">Delete </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="col">User</th>
                      <th scope="col" formGroupName="privileges">
                        <p-inputSwitch class="text-center" formControlName="GET_ALL_USERS">
                        </p-inputSwitch>
                      </th>
                      <th scope="col" formGroupName="privileges">
                        <p-inputSwitch class="text-center" formControlName="ADD_NEW_USER">
                        </p-inputSwitch>
                      </th>
                      <th scope="col" formGroupName="privileges">
                        <p-inputSwitch class="text-center" formControlName="UPDATE_USER">
                        </p-inputSwitch>
                      </th>
                      <th scope="col" formGroupName="privileges">
                        <p-inputSwitch class="text-center" formControlName="DELETE_USER">
                        </p-inputSwitch>
                      </th>
                    </tr>
                    <tr>
                      <th scope="col">Product</th>
                      <th scope="col" formGroupName="privileges">
                        <p-inputSwitch class="text-center" formControlName="GET_ALL_PRODUCTS">
                        </p-inputSwitch>
                      </th>
                      <th scope="col" formGroupName="privileges">
                        <p-inputSwitch class="text-center" formControlName="GET_PRODUCT">
                        </p-inputSwitch>
                      </th>
                      <th scope="col" formGroupName="privileges">
                        <p-inputSwitch class="text-center" formControlName="ADD_NEW_PRODUCT">
                        </p-inputSwitch>
                      </th>
                      <th scope="col" formGroupName="privileges">
                        <p-inputSwitch class="text-center" formControlName="UPDATE_PRODUCT">
                        </p-inputSwitch>
                      </th>
                      <th scope="col" formGroupName="privileges">
                        <p-inputSwitch class="text-center" formControlName="DELETE_PRODUCT">
                        </p-inputSwitch>
                      </th>
                    </tr>
                    <tr>
                      <th scope="col">Order</th>
                      <th scope="col" formGroupName="privileges">
                        <p-inputSwitch class="text-center" formControlName="GET_ALL_ORDERS">
                        </p-inputSwitch>
                      </th>
                      <th scope="col" formGroupName="privileges">
                        <p-inputSwitch class="text-center" formControlName="GET_ORDER">
                        </p-inputSwitch>
                      </th>
                      <th scope="col" formGroupName="privileges">
                        <p-inputSwitch class="text-center" formControlName="ADD_NEW_ORDER">
                        </p-inputSwitch>
                      </th>
                      <th scope="col">
                      </th>
                      <th scope="col" formGroupName="privileges">
                        <p-inputSwitch class="text-center" formControlName="DELETE_ORDER">
                        </p-inputSwitch>
                      </th>
                    </tr>
                    <tr>
                      <th scope="col">Return Order</th>
                      <th scope="col" formGroupName="privileges">
                        <p-inputSwitch class="text-center" formControlName="GET_ALL_RETURN_ORDERS">
                        </p-inputSwitch>
                      </th>
                      <th scope="col" formGroupName="privileges">
                        <p-inputSwitch class="text-center" formControlName="GET_RETURN_ORDER">
                        </p-inputSwitch>
                      </th>
                      <th scope="col" formGroupName="privileges">
                        <p-inputSwitch class="text-center" formControlName="ADD_NEW_RETURN_ORDER">
                        </p-inputSwitch>
                      </th>
                      <th scope="col">
                      </th>
                      <th scope="col" formGroupName="privileges">
                        <p-inputSwitch class="text-center" formControlName="DELETE_RETURN_ORDER">
                        </p-inputSwitch>
                      </th>
                    </tr>
                    <tr>
                      <th scope="col">Challan</th>
                      <th scope="col" formGroupName="privileges">
                        <p-inputSwitch class="text-center" formControlName="GET_ALL_CHALLAN">
                        </p-inputSwitch>
                      </th>
                      <th scope="col" formGroupName="privileges">
                        <p-inputSwitch class="text-center" formControlName="GET_CHALLAN">
                        </p-inputSwitch>
                      </th>
                      <th scope="col" formGroupName="privileges">
                        <p-inputSwitch class="text-center" formControlName="ADD_NEW_CHALLAN">
                        </p-inputSwitch>
                      </th>
                      <th scope="col">
                      </th>
                      <th scope="col" formGroupName="privileges">
                        <p-inputSwitch class="text-center" formControlName="DELETE_CHALLAN">
                        </p-inputSwitch>
                      </th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- <div class="form-row">
            <div class="card">
              <div class="card-header text-center ">Customers</div>
              <div class="card-body">
                <div class="form-row">
                  <div class="col">
                    <label for="inputPrice3" class="col-sm-8 col-form-label">Customer Type</label>
                    <div class="col-sm-8">
                      <p-inputSwitch class="form-control" formControlName="can_access_customer_type">
                      </p-inputSwitch>
                    </div>
                  </div>
                  <div class="col">
                    <label for="inputPrice3" class="col-sm-8 col-form-label">Customer
                      Management</label>
                    <div class="col-sm-8">
                      <p-inputSwitch class="form-control" formControlName="can_access_customer">
                      </p-inputSwitch>
                    </div>
                  </div>
                  <div class="col">
                    <label for="inputPrice3" class="col-sm-8 col-form-label">Distirbutor</label>
                    <div class="col-sm-8">
                      <p-inputSwitch class="form-control" formControlName="can_access_distirbutor">
                      </p-inputSwitch>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="card">
              <div class="card-header text-center ">Territory</div>
              <div class="card-body">
                <div class="form-row">
                  <div class="col">
                    <label for="inputPrice3" class="col-sm-8 col-form-label">Country</label>
                    <div class="col-sm-8">
                      <p-inputSwitch class="form-control" formControlName="can_access_country"></p-inputSwitch>
                    </div>
                  </div>
                  <div class="col">
                    <label for="inputPrice3" class="col-sm-8 col-form-label">Region</label>
                    <div class="col-sm-8">
                      <p-inputSwitch class="form-control" formControlName="can_access_region"></p-inputSwitch>
                    </div>
                  </div>
                  <div class="col">
                    <label for="inputPrice3" class="col-sm-8 col-form-label">City</label>
                    <div class="col-sm-8">
                      <p-inputSwitch class="form-control" formControlName="can_access_city"></p-inputSwitch>
                    </div>
                  </div>
                  <div class="col">
                    <label for="inputPrice3" class="col-sm-8 col-form-label">District</label>
                    <div class="col-sm-8">
                      <p-inputSwitch class="form-control" formControlName="can_access_district">
                      </p-inputSwitch>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="card">
              <div class="card-header text-center ">Portfolio</div>
              <div class="card-body">
                <div class="form-row">
                  <div class="col">
                    <label for="inputPrice3" class="col-sm-8 col-form-label">Therapy</label>
                    <div class="col-sm-8">
                      <p-inputSwitch class="form-control" formControlName="can_access_therapy"></p-inputSwitch>
                    </div>
                  </div>
                  <div class="col">
                    <label for="inputPrice3" class="col-sm-8 col-form-label">Products</label>
                    <div class="col-sm-8">
                      <p-inputSwitch class="form-control" formControlName="can_access_products">
                      </p-inputSwitch>
                    </div>
                  </div>
                  <div class="col">
                    <label for="inputPrice3" class="col-sm-8 col-form-label">Inventory</label>
                    <div class="col-sm-8">
                      <p-inputSwitch class="form-control" formControlName="can_access_inventory">
                      </p-inputSwitch>
                    </div>
                  </div>
                  <div class="col">
                    <label for="inputPrice3" class="col-sm-8 col-form-label">Buisness Unit</label>
                    <div class="col-sm-8">
                      <p-inputSwitch class="form-control" formControlName="can_access_bu"></p-inputSwitch>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="card">
              <div class="card-header text-center ">Incentive</div>
              <div class="card-body">
                <div class="form-row">
                  <div class="col">
                    <label for="inputPrice3" class="col-sm-8 col-form-label">Incentive Period</label>
                    <div class="col-sm-8">
                      <p-inputSwitch class="form-control" formControlName="can_access_incentive_period">
                      </p-inputSwitch>
                    </div>
                  </div>
                  <div class="col">
                    <label for="inputPrice3" class="col-sm-8 col-form-label">ProIncentive Share</label>
                    <div class="col-sm-8">
                      <p-inputSwitch class="form-control" formControlName="can_access_incentive_share">
                      </p-inputSwitch>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="card">
              <div class="card-header text-center ">Target</div>
              <div class="card-body">
                <div class="form-row">
                  <div class="col">
                    <label for="inputPrice3" class="col-sm-8 col-form-label">Target Setting</label>
                    <div class="col-sm-8">
                      <p-inputSwitch class="form-control" formControlName="can_access_target_setting">
                      </p-inputSwitch>
                    </div>
                  </div>
                  <div class="col">
                    <label for="inputPrice3" class="col-sm-8 col-form-label">Target Forecasting</label>
                    <div class="col-sm-8">
                      <p-inputSwitch class="form-control" formControlName="can_access_target_forecasting">
                      </p-inputSwitch>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="card">
              <div class="card-header text-center ">Others</div>
              <div class="card-body">
                <div class="form-row">
                  <div class="col">
                    <label for="inputPrice3" class="col-sm-8 col-form-label">G2N</label>
                    <div class="col-sm-8">
                      <p-inputSwitch class="form-control" formControlName="can_access_g2n"></p-inputSwitch>
                    </div>
                  </div>
                  <div class="col">
                    <label for="inputPrice3" class="col-sm-8 col-form-label">Sales</label>
                    <div class="col-sm-8">
                      <p-inputSwitch class="form-control" formControlName="can_access_sales"></p-inputSwitch>
                    </div>
                  </div>
                  <div class="col">
                    <label for="inputPrice3" class="col-sm-8 col-form-label">Reports</label>
                    <div class="col-sm-8">
                      <p-inputSwitch class="form-control" formControlName="can_access_reports"></p-inputSwitch>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
        <div class="modal-footer text-center">
          <a class="btn btn-secondary" data-dismiss="modal">Close</a>
          <button type="submit" class="btn btn-success"> Save </button>
        </div>
      </form>
    </div>
  </div>
</div>