<div class="row">
  <div class="col-md-4">
<div class="card text-center" style="width: 18rem;margin-top: 10px">
    <div class="card-body">
      <h5 class="card-title">Event Lined Up</h5>
      <p class="card-text text-center"></p>
    </div>
  </div>
  
  <div class="card text-center" style="width: 18rem;margin-top: 10px">
    <div class="card-body">
      <h5 class="card-title">Next Event</h5>
      <p class="card-text text-center"></p>
    </div>
  </div>
  
  <div class="card text-center" style="width: 18rem;margin-top: 10px">
    <div class="card-body">
      <h5 class="card-title">Total activities</h5>
      <p class="card-text text-center"></p>
    </div>
  </div>

  <div class="card text-center" style="width: 18rem;margin-top: 10px">
      <div class="card-body">
        <h5 class="card-title">Last Event Retension</h5>
        <p class="card-text text-center"></p>
      </div>
    </div>
    
    <div class="card text-center" style="width: 18rem;margin-top: 10px">
      <div class="card-body">
        <h5 class="card-title">Total Budget Avail</h5>
        <p class="card-text text-center"></p>
      </div>
    </div>
    
    <div class="card text-center" style="width: 18rem;margin-top: 10px">
      <div class="card-body">
        <h5 class="card-title">Customers Touched</h5>
        <p class="card-text text-center"></p>
      </div>
    </div>

    <div class="card text-center" style="width: 18rem;margin-top: 10px">
        <div class="card-body">
          <h5 class="card-title">Customers Acquired</h5>
          <p class="card-text text-center"></p>
        </div>
      </div>
      
      <div class="card text-center" style="width: 18rem;margin-top: 10px">
        <div class="card-body">
          <h5 class="card-title">Simple Bottle Used</h5>
          <p class="card-text text-center"></p>
        </div>
      </div>
    </div>
    <div class="col-md-8" >
        <div class="card text-center" style="height: 100%;">
            <div class="card-body" style="background-color: #FF4040">
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
    </div>
    </div>