<div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h2 class="float-left">Order Management</h2>
        <a class="btn btn-secondary text-white float-right" (click)="resetForm()" data-toggle="modal"
          data-target="#modal3">Add New Order</a>
        <a class="btn btn-secondary text-white mx-1 float-right" (click)="resetForm()" data-toggle="modal"
          data-target="#modal2">Upload CSV</a>
      </div>
      <div class="card-body">
        <table class="table table table-bordered table-hover table-striped" datatable [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger">
          <thead>
            <tr>
              <th scope="col">S.no</th>
              <th scope="col">Order No.</th>
              <th scope="col">Order Date</th>
              <th scope="col">Order To</th>
              <!-- <th scope="col">Manager</th> -->
              <th scope="col">Order By</th>
              <th scope="col">Status</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of allOrders; let i = index">
              <td>{{i+1}}</td>
              <td>{{order.order_id | uppercase}}</td>
              <td>{{order.order_date | date:'dd/MM/yy'}}</td>
              <td>{{order.placed_to.full_name | titlecase}}</td>
              <td>{{order.placed_by.full_name | titlecase}}</td>
              <td>{{order.status}}</td>
              <td>
                <a style="cursor:pointer" data-toggle="modal" data-target="#invoiceModal" (click)="viewAcceptOrderButton(i)"><i class="fas fa-eye"></i></a>
                <a style="cursor:pointer"><i class="fas fa-trash-alt" (click)="deleteOrder(i)"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <!-- ================ADD ORDER FORM=================== -->
  <div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content tx-14">
        <div class="modal-header text-center">
          <h6 class="modal-title" *ngIf="editing">Edit Order</h6>
          <h6 class="modal-title  h4" *ngIf="!editing">Add New Order</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="orderPlacedForm" (ngSubmit)="onSubmit()">
              <div class="divider-text">Select Organisation to Send Order </div>
              <div class="form-row">
                  <div class="form-group col-md-4 offset-md-4">
                    <label for="inputEmail4">Order To</label>
                    <select name="user" formControlName="placed_to" class="form-control">
                      <option selected disabled>Select User</option>
                      <option [ngValue]="user._id" *ngFor="let user of allUsers;let i=index">{{user.full_name}}</option>
                    </select>
                    <div *ngIf="submitted && f.placed_to.errors" class="invalid-feedback">
                      <div *ngIf="f.placed_to.errors.required">User is required</div>
                    </div>
                  </div>
                </div>
                <div class="divider-text">Select And Add Products </div>
                <div class="form-row">
                <div class="col-md-8  offset-md-3">
              <div formArrayName="products">
                <div *ngFor="let product of productsForms.controls; let i=index" [formGroupName]="i">
                    <div class="form-row">
                            <div class="col-md-4">
                              <div>
                                <label for="period">Product</label>
                                <select name="product" formControlName="product" class="form-control">
                                  <option selected disabled>Select Product</option>
                                  <option [ngValue]="product._id" *ngFor="let product of allproducts;let i=index">{{product.name}}
                                  </option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div>
                                <label for="period">Quantity</label>
                                <input type="number" name="from" id="from" class="form-control" formControlName="requested">
                              </div>
                            </div>
                            <div class="col-md-1">
                              <label for="period">Remove</label>
                              <button class="form-control" (click)="deleteProducts(i)">-</button>
                            </div>
                  </div>
                </div>
            </div>
          </div>
          <div class="col-md-4 offset-md-5 mt-2">
              <button class="btn btn-success" (click)="addProducts()">Add New Product</button>
          </div>
        </div>
          
            <div class="divider-text">Add Extra Note</div>
            <div class="form-row offset-md-4">
                <input type="text" placeholder="Optinal Notes here" class="form-control" formControlName="notes">
              </div>
                <br>
                <div class=" text-center">
                <button type="submit" class="btn btn-primary tx-13 mx-1">Save</button>
                <button type="button" class="btn btn-secondary tx-13" data-dismiss="modal">Close</button>
                </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <!-- ================CSV UPLOAD FORM================== -->
  <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content tx-14">
        <div class="modal-header">
          <h6 class="modal-title" id="exampleModalLabel2">Upload CSV</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="file" id="file" class="for mx-1 float-right" (change)="uploadCSV($event.target.files)">
        </div>
        <div class="modal-footer">
          <div class="float-left text-left">
            <a target="_blank"
              href="https://firebasestorage.googleapis.com/v0/b/dummy-f382e.appspot.com/o/Sample%20Files%2FProduct.csv?alt=media&token=f9a59723-59ab-4249-bd9e-95f25ecec97a"
              class="float-left text-left">Download Sample CSV</a>
          </div>
          <button type="button" class="btn btn-secondary tx-13" [disabled]="uploading" data-dismiss="modal">Close</button>
          <button class="btn btn-primary" type="button" disabled *ngIf="uploading">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Uploading...
          </button>
          <button type="button" class="btn btn-primary tx-13" *ngIf="!uploading" (click)="extractData()"> Upload</button>
        </div>
      </div>
    </div>
  </div>
  
    <!-- Invoice Modal -->
  
    <div id="invoiceModal" class="modal fade" role="dialog" tabindex="-1" *ngIf="orderSelected"  aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <!-- Modal content -->
        <div class="modal-content tx-14">
          <div class="modal-header">
              <div class="d-sm-flex align-items-center justify-content-between">
                  <div>
                    <h4 class="mg-b-5">Order Details</h4>
                    <!-- <p class="mg-b-0 tx-color-03">Due on {{orderSelected?.order_date | date : 'dd/MM/yy'}}</p> -->
                  </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
          </div>
          <div class="modal-body">
              <div class="content tx-13">
                  <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
                    <div class="row">
                      <div class="col-sm-6">
                        <label class="tx-sans tx-uppercase tx-10 tx-medium tx-spacing-1 tx-color-03">Billed From</label>
                        <h6 class="tx-15 mg-b-10">{{orderSelected?.placed_by?.full_name}}</h6>
                        <p class="mg-b-0">{{orderSelected?.placed_by?.email}}</p>
                      </div><!-- col -->
                      <div class="col-sm-6 tx-right d-none d-md-block">
                        <label class="tx-sans tx-uppercase tx-10 tx-medium tx-spacing-1 tx-color-03">{{orderSelected?.order_date | date : 'dd/MM/yy'}}</label>
                        <h1 class="tx-normal tx-color-04 mg-b-10 tx-spacing--2">#{{orderSelected?.order_id}}</h1>
                      </div><!-- col -->
                      <div class="col-sm-6 col-lg-8 mg-t-40 mg-sm-t-0 mg-md-t-40">
                        <label class="tx-sans tx-uppercase tx-10 tx-medium tx-spacing-1 tx-color-03">Billed To</label>
                        <h6 class="tx-15 mg-b-10">{{orderSelected?.placed_to?.full_name}}</h6>
                        <p class="mg-b-0">{{orderSelected?.placed_to?.email}}</p>
                      </div><!-- col -->
                      <!-- <div class="col-sm-6 col-lg-4 mg-t-40">
                        <label class="tx-sans tx-uppercase tx-10 tx-medium tx-spacing-1 tx-color-03">Invoice Information</label>
                        <ul class="list-unstyled lh-7">
                          <li class="d-flex justify-content-between">
                            <span>Invoice Number</span>
                            <span>#{{orderSelected?.order_id}}</span>
                          </li>
                          <li class="d-flex justify-content-between">
                            <span>Order Date</span>
                            <span>{{orderSelected?.order_date | date : 'dd/MM/yy'}}</span>
                          </li>
                        </ul>
                      </div>col -->
                    </div><!-- row -->
            
                    <div class="table-responsive mg-t-40">
                      <table class="table table-invoice bd-b">
                        <thead>
                          <tr>
                            <th class="wd-20p">Product</th>
                            <th class="wd-20p">Brand</th>
                            <th class="wd-20p">Requested Quantity</th>
                            <th class="wd-20p">Accepted Quantity</th>
                            <th class="wd-20p" *ngIf="orderSelected.challan_generated">Dispatched Quantity</th>
                            <th class="wd-20p" *ngIf="!orderSelected.recieved && orderSelected.status == 'Challan Accepted' ">Recieved Quantity</th>
                            <th class="wd-20p" *ngIf="orderSelected.recieved && orderSelected.status != 'Challan Accepted' ">Recieved Quantity</th>
                            <th class="wd-20p" *ngIf="!orderSelected.billed && orderSelected.status == 'Recieved' ">Billed Quantity</th>
                            <th class="wd-20p" *ngIf="orderSelected.billed && orderSelected.status != 'Recieved' ">Billed Quantity</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let product of orderSelectedProducts;let i=index">
                            <td class="tx-nowrap">{{product?.product?.name}}</td>
                            <td class="d-none d-sm-table-cell tx-color-03">{{product?.product?.brand}}</td>
                            <td class="tx-nowrap">{{product.requested}}</td>
                            <td class="tx-center" *ngIf="orderSelected.status == 'Pending' ">
                                <input type="text"  
                                class="form-control col-lg-9" (change)="asd($event,i)"
                                placeholder="Accepted Quantity">
                            </td>
                            <td class="tx-nowrap" *ngIf="orderSelected.status != 'Pending' ">{{product.accepted}}</td>
                            <td class="tx-nowrap" *ngIf="orderSelected.challan_generated">{{product.dispatched}}</td>
                            <td *ngIf="!orderSelected.recieved && orderSelected.status == 'Challan Accepted' " >
                              <input type="text"  (change)="recievedQuantityEntered($event,i)"
                                        class="form-control col-lg-12" >
                            </td>
                            <td class="tx-nowrap" *ngIf="orderSelected.recieved">{{product.recieved}}</td>
                            <td *ngIf="!orderSelected.billed && orderSelected.status == 'Recieved' ">
                              <input type="text"  (change)="billedQuantityEntered($event,i)"
                                        class="form-control col-lg-12">
                            </td>
                            <td class="tx-nowrap" *ngIf="orderSelected.billed">{{product.billed}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    
                    <div class="row justify-content-between">
                      <div class="col-sm-6 col-lg-6 order-2 order-sm-0 mg-t-40 mg-sm-t-0">
                        <label class="tx-sans tx-uppercase tx-10 tx-medium tx-spacing-1 tx-color-03">Notes</label>
                        <p>{{orderSelected?.notes}}</p>
                      </div><!-- col -->
                      <div class="col-sm-6 col-lg-4 order-1 order-sm-0">
                          
                      </div><!-- col -->
                    </div><!-- row -->
                  </div><!-- container -->
                </div><!-- content -->
          </div>
          <div class="modal-footer">
              <button class="btn btn-primary tx-13 mx-1"  data-toggle="modal"
              data-target="#ChallanModal"
              *ngIf="orderSelected.status == 'Order Accepted' " data-dismiss="modal">
                <i data-feather="credit-card" class="mg-r-5"></i> Generate Challan</button>
            <button class="btn btn-primary tx-13 mx-1" (click)="asde()" *ngIf="orderSelected.status == 'Pending' ">Accept Order</button>
            <button *ngIf="!orderSelected.recieved && orderSelected.status == 'Challan Accepted' " class="btn btn-primary tx-13 mx-1"
              (click)="asdef()">Recieved Challan Quantity</button>
              <button *ngIf="!orderSelected.billed && orderSelected.status == 'Recieved' "  class="btn btn-primary tx-13 mx-1"
              (click)="billProductQuantity()">Bill Product Quantity</button>
            <button type="button" class="btn btn-secondary tx-13" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Challan Modal -->

    <div class="modal fade" id="ChallanModal" role="dialog" *ngIf="orderSelected">
        <div class="modal-dialog modal-xl">
        
          <!-- Modal content-->
          <div class="modal-content tx-14">
            <div class="modal-header">
                <div class="d-sm-flex align-items-center justify-content-between">
                    <div>
                      <h4 class="mg-b-5">Challan Details</h4>
                      <!-- <p class="mg-b-0 tx-color-03">Due on {{orderSelected?.order_date | date : 'dd/MM/yy'}}</p> -->
                    </div>
                  </div>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="content tx-13">
                    <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
                      <div class="row">
                        <div class="col-sm-6">
                          <label class="tx-sans tx-uppercase tx-10 tx-medium tx-spacing-1 tx-color-03">Billed From</label>
                          <h6 class="tx-15 mg-b-10">{{orderSelected?.placed_by?.full_name}}</h6>
                          <p class="mg-b-0">{{orderSelected?.placed_by?.email}}</p>
                        </div><!-- col -->
                        <div class="col-sm-6 tx-right d-none d-md-block">
                            <label class="tx-sans tx-uppercase tx-10 tx-medium tx-spacing-1 tx-color-03">{{orderSelected?.order_date | date : 'dd/MM/yy'}}</label>
                            <h1 class="tx-normal tx-color-04 mg-b-10 tx-spacing--2">#{{orderSelected?.order_id}}</h1>
                          </div><!-- col -->
                        <div class="col-sm-6 col-lg-8 mg-t-40 mg-sm-t-0 mg-md-t-40">
                          <label class="tx-sans tx-uppercase tx-10 tx-medium tx-spacing-1 tx-color-03">Billed To</label>
                          <h6 class="tx-15 mg-b-10">{{orderSelected?.placed_to?.full_name}}</h6>
                        <p class="mg-b-0">{{orderSelected?.placed_to?.mobile_number}}</p>
                        </div><!-- col -->
                        <!-- <div class="col-sm-6 col-lg-4 mg-t-40">
                          <label class="tx-sans tx-uppercase tx-10 tx-medium tx-spacing-1 tx-color-03">Challan Information</label>
                          <ul class="list-unstyled lh-7">
                            <li class="d-flex justify-content-between">
                              <span>Invoice Number</span>
                              <span>#{{orderSelected?.order_id}}</span>
                            </li>
                            <li class="d-flex justify-content-between">
                              <span>order Date</span>
                              <span>{{orderSelected?.order_date | date : 'dd/MM/yy'}}</span>
                            </li>
                          </ul>
                        </div>col -->
                      </div><!-- row -->
              
                      <div class="mg-t-50">
                          <div class="row">
                        <table class="table table-invoice bd-b">
                          <thead>
                            <tr>
                              <th class="wd-20p">Product</th>
                              <th class="wd-20p">Brand</th>
                              <th class="wd-20p">Requested Quantity</th>
                              <th class="wd-20p">Accepted Quantity</th>
                              <th class="wd-20p">Dispatch Quantity</th>
                              <!-- <th class="wd-20p">Status</th> -->
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let order of orderSelected.products;let i=index">
                              <td class="tx-nowrap">{{order?.product?.name}}</td>
                              <td class="d-none d-sm-table-cell tx-color-03">{{order?.product?.brand}}</td>
                              <td class="tx-nowrap">{{order?.requested}}</td>
                              <td class="tx-nowrap">{{order?.accepted}}</td>
                              <td class="tx-center" *ngIf="orderSelected.status == 'Order Accepted' ">
                                  <input type="text"  
                                  class="form-control col-lg-9" (change)="dispatchQuantityEntered($event,i)"
                                  placeholder="Dispatched Quantity">
                              </td>
                              <td *ngIf="orderSelected.status != 'Order Accepted' ">{{order?.dispatched}}</td>
                              <!-- <td *ngIf="orderSelected.status.name == 'Accepted'">
                                  <select class="form-control col-lg-6">
                                    <option disabled selected>Select Status</option>
                                    <option >{{afterStatus?.name}}</option>
                                  </select>
                                </td> -->
                            </tr>
                          </tbody>
                        </table>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col-sm-6 col-lg-6 order-2 order-sm-0 mg-t-40 mg-sm-t-0">
                              <label class="tx-sans tx-uppercase tx-10 tx-medium tx-spacing-1 tx-color-03">Notes</label>
                              <p>{{orderSelected?.notes}}</p>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-row">
                              <div class="col-md-4"><label for="" class="label label-success">Vehicle Number</label></div>
                              <div class="col-md-8">
                                <select class="form-control" (change)="getVehicle2($event)">
                                  <option selected disabled>Select vehicle Number</option>
                                  <option [ngValue]="vehicle._id" *ngFor="let vehicle of allVehicle;let i=index">
                                    {{vehicle.number}}</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-row">
                              <div class="col-md-4"><label for="" class="label label-success">Driver Name</label></div>
                              <div class="col-md-8">
                                <select class="form-control" (change)="getDriver($event)">
                                  <option selected disabled>Select Driver Name</option>
                                  <option [ngValue]="driver._id" *ngFor="let driver of alldriver;let i=index">{{driver.full_name}}
                                  </option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <!-- <div class="form-row">
                                  <div class="col-md-6"><label for="">Departure Date</label></div>
                                  <div class="col-md-6"><input type="date" formControlName="departure" class="form-control">
                                  </div>
                                </div> -->
                        </div>
                      </div>
                      <!-- <div class="row justify-content-between">
                        <div class="col-sm-6 col-lg-6 order-2 order-sm-0 mg-t-40 mg-sm-t-0">
                          <label class="tx-sans tx-uppercase tx-10 tx-medium tx-spacing-1 tx-color-03">Notes</label>
                          <p>{{orderSelected?.notes}}</p>
                        </div>col
                        <div class="col-sm-6 col-lg-4 order-1 order-sm-0">
              
                          <button class="btn btn-block btn-primary" (click)="challanGenerate()">Generate Challan</button>
                        </div>col
                      </div>row -->
                    </div><!-- container -->
                  </div><!-- content -->
            </div>
            <br>
            <div class=" modal-footer text-center">
                <button class="btn btn-primary tx-13 mx-1" (click)="challanGenerate()">Generate Challan</button>
              <button type="button" class="btn btn-secondary tx-13" data-dismiss="modal">Close</button>
            </div>
          </div>
          
        </div>
      <!-- </div> -->
      
    </div>