<div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h2 class="float-left">City Management</h2>
        <a class="btn btn-secondary float-right text-white" (click)="resetForm()" data-toggle="modal"
          data-target="#modal3">Add New City</a>
        <!-- <a class="btn btn-secondary text-white mx-1 float-right" (click)="resetForm()" data-toggle="modal"
          data-target="#modal2">Upload CSV</a> -->
      </div>
      <div class="card-body">
        <table class="table table table-bordered table-hover table-striped" datatable [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger">
          <thead>
            <tr>
              <th scope="col">S.No</th>
              <th scope="col">City Name</th>
              <th scope="col">State Name</th>
              <th scope="col">Status</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let city of allCities; let i = index">
              <td>{{i+1}}</td>
              <td>{{city?.name}}</td>
              <td>{{city?.state?.name}}</td>
              <td *ngIf="city.is_active">Available</td>
              <td *ngIf="!city.is_active">Unavailable</td>
              <td>
                  <a style="cursor: pointer" (click)="viewCity(i)" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-eye"></i></a>
                <a style="cursor: pointer" data-toggle="modal" data-target="#modal3" (click)="editCity(i)"><i
                    class="fas fa-edit mx-2"></i> </a>
                <a style="cursor: pointer" (click)="deleteCity(i)"><i class="fas fa-trash-alt"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content tx-14">
        <div class="modal-header">
          <h6 class="modal-title ml-auto font-weight-bold" id="exampleModalLabel3" *ngIf="!editing">Add New City</h6>
          <h6 class="modal-title ml-auto font-weight-bold" id="exampleModalLabel3" *ngIf="editing">Edit City</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="cityForm" (ngSubmit)="onSubmit()">
                <div class="form-group ">
                  <div class="col-md-4">
                    <label>City Name</label>
                    <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">City Name is required</div>
                    </div>
                </div>
              </div>
                <div class="form-group col-md-4">
                    <label for="inputEmail4">Select State</label>
                    <select class="form-control" formControlName="state" required
                      [ngClass]="{ 'is-invalid': submitted && f.state.errors }">
                      <option selected disabled>Select State</option>
                      <option [ngValue]="state._id" *ngFor="let state of allStates;let i=index">{{state.name}}
                      </option>
                    </select>
                    <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                      <div *ngIf="f.state.errors.required">State Name is required</div>
                    </div>
                  </div>
                  <div class="form-row">
                      <label>Status</label>
                      <p-inputSwitch class="form-control" formControlName="is_active" required [ngClass]="{ 'is-invalid': submitted && f.is_active.errors }"></p-inputSwitch>
                      <!-- <input type="password" formControlName="password" class="form-control"  /> -->
                      <div *ngIf="submitted && f.is_active.errors" class="invalid-feedback">
                          <div *ngIf="f.is_active.errors.required">Status is required</div>
                      </div>
                  </div>
                
                <!-- <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button data-dismiss="modal" class="btn btn-primary">Close</button>
                </div> -->
                <br>
          <div class=" text-center">
          <button type="submit" class="btn btn-primary tx-13 mx-1">Save</button>
          <button type="button" class="btn btn-secondary tx-13" data-dismiss="modal">Close</button>
          </div>
            </form>
        </div>
      </div>
    </div>
  </div>
  
    
    <!--Example City Modal -->
    <div *ngIf="viewArray" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title ml-auto font-weight-bold" id="exampleModalLabel">City Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              
                  <div class="form-group">
                      <label>City Name</label>
                      <input type="text"  class="form-control" [(ngModel)]="viewArray.name" disabled />
                  </div>
                  <div class="form-group" *ngIf="viewArray.state">
                      <label>State Name</label>
                      <input type="text"  class="form-control" [(ngModel)]="viewArray.state.name" disabled />
                  </div>  
                  <div class="form-group">
                      <label>Status</label>
                      <p-inputSwitch class="form-control" [(ngModel)]="viewArray.is_active" disabled></p-inputSwitch>
                  </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>