<!-- <mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Register</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <table cellspacing="0" [formGroup]="userForm">
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="Fullname" formControlName="fullname" name="fullname" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="Email" formControlName="email" name="email" required>
              <mat-error *ngIf="email.invalid && email.errors.email">Invalid email address</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="Password" formControlName="password" type="password" name="password"
                required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="Reapet Password" formControlName="repeatPassword" type="password"
                name="repeatPassword" required>
              <mat-error *ngIf="repeatPassword.invalid && repeatPassword.errors.passwordMatch">Password mismatch
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="register()" color="primary">Register</button>
    <span>Allrady have an account ? <a [routerLink]="['/auth/login']">login</a> here</span>
  </mat-card-actions>
</mat-card> -->


<!-- <form [formGroup]="userForm" (ngSubmit)="submit()">
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputEmail4">Employee ID *</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="Employee ID here "
        formControlName="employee_id">
    </div>
    <div class="form-group col-md-4">
      <label for="inputPassword4">First Name *</label>
      <input type="text" class="form-control" id="inputPassword4" placeholder="First Name *"
        formControlName="first_name">
    </div>
    <div class="form-group col-md-4">
      <label for="inputEmail4">Last Name</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="Last Name" formControlName="last_name">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email" formControlName="email">
    </div>
    <div class="form-group col-md-4">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password" formControlName="password">
    </div>
    <div class="form-group col-md-4">
      <label for="inputEmail4">Mobile No *</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="Mobile No *" formControlName="mobile_phone">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputPassword4">Home Phone</label>
      <input type="text" class="form-control" id="inputPassword4" placeholder="Home Phone" formControlName="home_phone">
    </div>
    <div class="form-group col-md-4">
      <label for="inputEmail4">Buisness Extension</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="Buisness Extension"
        formControlName="business_extension">
    </div>
    <div class="form-group col-md-4">
      <label for="inputEmail4">Business Phone</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="Business Phone"
        formControlName="business_phone">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputEmail4">Joining Date *</label>
      <input type="date" class="form-control" id="inputEmail4" placeholder="Joining Date *"
        formControlName="joining_date">
    </div>
    <div class="form-group col-md-4">
      <label for="inputPassword4">Manager Name</label>
      <input type="text" class="form-control" id="inputPassword4" placeholder="Manager Name *"
        formControlName="manager_id">
    </div>
    <div class="form-group col-md-4">
      <label for="inputEmail4">Therapy Line </label>
      <select class="custom-select" name="therapy_line" formControlName="therapy_line">
        <option value="userRole" *ngFor="let userRole of allTherapies">{{userRole.therapyline}}</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="inputEmail4">Therapy Line Id </label>
      <select class="custom-select" name="therapy_line_id" formControlName="therapy_line_id">
        <option value="userRole" *ngFor="let userRole of allTherapies">{{userRole.therapyline_id}}</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="inputPassword4">Title</label>
      <select class="custom-select" name="title" formControlName="title">
        <option value="userRole" *ngFor="let userRole of title">{{userRole}}</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputEmail4">Region Name</label>
      <select class="custom-select" name="region" formControlName="region">
        <option value="userRole" *ngFor="let userRole of region">{{userRole}}</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="inputPassword4">City Name</label>
      <select class="custom-select" name="city" formControlName="city" formControlName="city">
        <option value="userRole" *ngFor="let userRole of city">{{userRole}}</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="inputEmail4">District Name</label>
      <select class="custom-select" name="district" formControlName="district">
        <option value="userRole" *ngFor="let userRole of district">{{userRole}}</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputEmail4">Postal Code </label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="Postal Code " formControlName="postal_code">
    </div>
    <div class="form-group col-md-4">
      <label for="inputPassword4">Title</label>
      <select class="custom-select" name="title" formControlName="title">
        <option value="userRole" *ngFor="let userRole of title">{{userRole}}</option>
      </select>
    </div>
    <div class="form-group col-md-4 d-flex align-items-end">
      <label for="inputEmail4">Position</label>
      <select class="custom-select" name="user_role" formControlName="position">
        <option value="userRole" *ngFor="let userRole of userRoles">{{userRole}}</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="inputAddress" formControlName="address" placeholder="1234 Main St">
  </div>
  <div class="form-group">
    <label for="inputAddress2">Notes</label>
    <input type="text" class="form-control" formControlName="notes" id="inputAddress2"
      placeholder="Any extra notes here">
  </div>
  <!-- <div class="form-group">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="customCheck1">
      <div class="custom-control custom-radio">
        <input type="radio" id="customRadio1" name="is_active" formControlName="is_active" value="true"
          class="custom-control-input">
        <label class="custom-control-label" for="customRadio1">Activate</label>
      </div>
      <div class="custom-control custom-radio">
        <input type="radio" id="customRadio2" name="is_active" formControlName="is_active" value="false"
          class="custom-control-input">
        <label class="custom-control-label" for="customRadio2">Deactivate</label>
      </div>
    </div>
  </div> -->
  <!-- <button type="submit" class="btn btn-primary">Submit Form</button>
</form> --> -->