<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h2 class="float-left">Product Management</h2>
      <a class="btn btn-secondary text-white float-right" (click)="resetForm()" data-toggle="modal"
        data-target="#modal3">Add New Product</a>
      <a class="btn btn-secondary text-white mx-1 float-right" (click)="resetForm()" data-toggle="modal"
        data-target="#modal2">Upload CSV</a>
    </div>
    <div class="card-body">
      <table class="table table table-bordered table-hover table-striped" datatable [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger">
        <thead>
          <tr>
            <th scope="col">Product ID</th>
            <th scope="col">Product Name</th>
            <th scope="col">Category</th>
            <th scope="col">Brand</th>
            <th scope="col">Farm Price</th>
            <th scope="col">Price</th>
            <th scope="col">Created by</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of allproducts; let i = index">
            <td>{{product.product_id | uppercase}}</td>
            <td>{{product.name | titlecase}}</td>
            <td>{{product.category | titlecase}}</td>
            <td>{{product.brand | titlecase}}</td>
            <td>{{product.farm_price}}</td>
            <td>{{product.selling_price }}</td>
            <td>{{product.created_by }}</td>
            <td *ngIf="product.is_active">Active</td>
            <td *ngIf="!product.is_active">InActive</td>
            <td>
              <a style="cursor:pointer" data-toggle="modal" data-target="#modal3" (click)="editProduct(i)"><i
                  class="fas fa-edit mx-2"></i></a>
              <a style="cursor:pointer"><i class="fas fa-trash-alt" (click)="deleteProduct(i)"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content tx-14">
      <div class="modal-header text-center">
        <h6 class="modal-title  h4" id="exampleModalLabel3" *ngIf="editing">Edit Product</h6>
        <h6 class="modal-title  h4" id="exampleModalLabel3" *ngIf="!editing">Add New Product Product</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="productForm" (ngSubmit)="submit()">
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="inputEmail4">Product ID</label>
              <input type="text" class="form-control" placeholder="Product ID here " formControlName="product_id"
                required [ngClass]="{ 'is-invalid': submitted && f.product_id.errors }">
              <div *ngIf="submitted && f.product_id.errors" class="invalid-feedback">
                <div *ngIf="f.product_id.errors.required">Product ID is required</div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label for="inputEmail4">Brand</label>
              <input type="text" class="form-control" placeholder="Brand here " formControlName="brand" required
                [ngClass]="{ 'is-invalid': submitted && f.brand.errors }">
              <div *ngIf="submitted && f.brand.errors" class="invalid-feedback">
                <div *ngIf="f.brand.errors.required">Brand is required</div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label for="inputEmail4">Product Name</label>
              <input type="text" class="form-control" placeholder="Product Name Here" formControlName="name" required
                [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Product Name is required</div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="inputEmail4">Category</label>
              <input type="text" class="form-control" placeholder="Category here " formControlName="category" required
                [ngClass]="{ 'is-invalid': submitted && f.category.errors }">
              <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
                <div *ngIf="f.category.errors.required">Category is required</div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label for="inputPassword4">Farm Price</label>
              <input type="text" class="form-control" id="inputPassword4" placeholder="Farm Price here"
                formControlName="farm_price" required [ngClass]="{ 'is-invalid': submitted && f.farm_price.errors }">
              <div *ngIf="submitted && f.farm_price.errors" class="invalid-feedback">
                <div *ngIf="f.farm_price.errors.required">Farm Price is required</div>
              </div>
              <div class="invalid-feedback" *ngIf="f.farm_price.errors && (f.farm_price.dirty || f.farm_price.touched)">
                <p *ngIf="f.farm_price.errors.pattern" class="text-danger">Number Only</p>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label for="inputEmail4">Selling Price</label>
              <input type="text" class="form-control" placeholder="Selling Price here" formControlName="selling_price"
                required [ngClass]="{ 'is-invalid': submitted && f.selling_price.errors }">
              <div *ngIf="submitted && f.selling_price.errors" class="invalid-feedback">
                <div *ngIf="f.selling_price.errors.required">Selling Price is required</div>
              </div>
              <div class="invalid-feedback" *ngIf="f.selling_price.errors && (f.selling_price.dirty || f.selling_price.touched)">
                <p *ngIf="f.selling_price.errors.pattern" class="text-danger">Number Only</p>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="inputEmail4">Available for</label>
              <input type="text" class="form-control" placeholder="Available here " formControlName="available_for"
                required [ngClass]="{ 'is-invalid': submitted && f.available_for.errors }">
              <div *ngIf="submitted && f.available_for.errors" class="invalid-feedback">
                <div *ngIf="f.available_for.errors.required">Available for is required</div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label for="inputPassword4">Product DMS</label>
              <input type="text" class="form-control" id="inputPassword4" placeholder="Product DMS here"
                formControlName="product_dms" required [ngClass]="{ 'is-invalid': submitted && f.product_dms.errors }">
              <div *ngIf="submitted && f.product_dms.errors" class="invalid-feedback">
                <div *ngIf="f.product_dms.errors.required">Product DMS is required</div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label for="inputPassword4">Extra Details</label>
              <input type="text" class="form-control" id="inputPassword4" placeholder="Any Extra Detail here"
                formControlName="details" required [ngClass]="{ 'is-invalid': submitted && f.details.errors }">
              <div *ngIf="submitted && f.details.errors" class="invalid-feedback">
                <div *ngIf="f.details.errors.required">Details is required</div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-2 text-center">
              <label for="inputPassword4">Active</label>
              <p-inputSwitch class="form-control" formControlName="is_active" required
                [ngClass]="{ 'is-invalid': submitted && f.is_active.errors }"></p-inputSwitch>
              <div *ngIf="submitted && f.is_active.errors" class="invalid-feedback">
                <div *ngIf="f.is_active.errors.required">Is Active is required</div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary tx-13 mx-1">Save</button>
          <button type="button" class="btn btn-secondary tx-13" data-dismiss="modal">Close</button>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content tx-14">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel2">Upload CSV</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="file" id="file" class="for mx-1 float-right" (change)="uploadCSV($event.target.files)">
      </div>
      <div class="modal-footer">
        <div class="float-left text-left">
          <a target="_blank"
            href="https://firebasestorage.googleapis.com/v0/b/dummy-f382e.appspot.com/o/Sample%20Files%2FProduct.csv?alt=media&token=f9a59723-59ab-4249-bd9e-95f25ecec97a"
            class="float-left text-left">Download Sample CSV</a>
        </div>
        <button type="button" class="btn btn-secondary tx-13" [disabled]="uploading" data-dismiss="modal">Close</button>
        <button class="btn btn-primary" type="button" disabled *ngIf="uploading">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Uploading...
        </button>
        <button type="button" class="btn btn-primary tx-13" *ngIf="!uploading" (click)="extractData()"> Upload</button>
      </div>
    </div>
  </div>
</div>