<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h2 class="float-left">Product Management</h2>
      <a class="btn btn-secondary text-white float-right" (click)="resetForm()" data-toggle="modal"
        data-target="#modal3">Add New Product</a>
      <a class="btn btn-secondary text-white mx-1 float-right" (click)="resetForm()" data-toggle="modal"
        data-target="#modal2">Upload CSV</a>
    </div>
    <div class="card-body">
      <table class="table table table-bordered table-hover table-striped" datatable [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger">
        <thead>
          <tr>
            <th scope="col">S No.</th>
            <th scope="col">Product Image</th>
            <th scope="col">Product Name</th>
            <th scope="col">Category Name</th>
            <th scope="col">Brand</th>
            <th scope="col">Farm Price</th>
            <th scope="col">Selling Price</th>
            <th scope="col">Created by</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of allproducts; let i = index">
            <td>{{i+1}}</td>
            <td *ngIf="product.image"><img src="{{productImagesArray[i]}}" alt="" width="25px" class="img-thumbnail"></td>
            <td *ngIf="!product.image"></td>

            <td>{{product?.name | titlecase}}</td>
            <td>{{product?.category?.name | titlecase}}</td>
            <td>{{product?.brand?.name | titlecase}}</td>
            <td>{{product?.farm_price}}</td>
            <td>{{product?.selling_price }}</td>
            <td>{{product?.created_by?.full_name }}</td>
            <td *ngIf="product.is_active">Active</td>
            <td *ngIf="!product.is_active">InActive</td>
            <td>
              <a style="cursor: pointer" (click)="viewProduct(i)" ><i
                  class="fas fa-eye"></i></a>
              <a style="cursor:pointer" data-toggle="modal" data-target="#modal3" (click)="editProduct(i)"><i
                  class="fas fa-edit mx-2"></i></a>
              <a style="cursor:pointer"><i class="fas fa-trash-alt" (click)="deleteProduct(i)"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content tx-14">
      <div class="modal-header text-center">
        <h6 class="modal-title  h4" id="exampleModalLabel3" *ngIf="editing">Edit Product</h6>
        <h6 class="modal-title  h4" id="exampleModalLabel3" *ngIf="!editing">Add New Product</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="productForm" (ngSubmit)="submit()">
          <div class="form-row">
            <!-- <div class="form-group col-md-4">
              <label for="inputEmail4">Product ID</label>
              <input type="text" class="form-control" placeholder="Product ID here " formControlName="product_id"
                required [ngClass]="{ 'is-invalid': submitted && f.product_id.errors }">
              <div *ngIf="submitted && f.product_id.errors" class="invalid-feedback">
                <div *ngIf="f.product_id.errors.required">Product ID is required</div>
              </div>
            </div> -->
            <div class="form-group col-md-4">
                <label for="inputEmail4">Product Name</label>
                <input type="text" class="form-control" placeholder="Product Name Here" formControlName="name" required
                  [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                  <div *ngIf="f.name.errors.required">Product Name is required</div>
                </div>
              </div>
            <div class="form-group col-md-4">
              <label for="inputEmail4">Brand</label>
              <!-- <input type="text" class="form-control" placeholder="Brand here " formControlName="brand" required
                [ngClass]="{ 'is-invalid': submitted && f.brand.errors }"> -->
                <select class="form-control" formControlName="brand" required
                [ngClass]="{ 'is-invalid': submitted && f.brand.errors }">
                <option selected disabled>Select Brand</option>
                <option [ngValue]="brand._id" *ngFor="let brand of allBrand;let i=index">{{brand.name}}
                </option>
              </select>
              <div *ngIf="submitted && f.brand.errors" class="invalid-feedback">
                <div *ngIf="f.brand.errors.required">Brand is required</div>
              </div>
            </div>
            <div class="form-group col-md-4">
                <label for="inputPassword4">Extra Details</label>
                <input type="text" class="form-control" id="inputPassword4" placeholder="Any Extra Detail here"
                  formControlName="details" required [ngClass]="{ 'is-invalid': submitted && f.details.errors }">
                <div *ngIf="submitted && f.details.errors" class="invalid-feedback">
                  <div *ngIf="f.details.errors.required">Details is required</div>
                </div>
              </div>
            
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="inputEmail4">Category</label>
              <select class="form-control" formControlName="category" required
                [ngClass]="{ 'is-invalid': submitted && f.category.errors }" (change)="getCategoryAttributes($event)">
                <option selected disabled>Select Category</option>
                <option [ngValue]="category._id" *ngFor="let category of allCategories;let i=index">{{category.name}}
                </option>
              </select>
              <!-- <input type="text" class="form-control" placeholder="Category here " formControlName="category" required
                [ngClass]="{ 'is-invalid': submitted && f.category.errors }"> -->
              <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
                <div *ngIf="f.category.errors.required">Category is required</div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label for="inputPassword4">Farm Price</label>
              <input type="number" class="form-control" id="inputPassword4" placeholder="Farm Price here"
                formControlName="farm_price" required [ngClass]="{ 'is-invalid': submitted && f.farm_price.errors }">
              <div *ngIf="submitted && f.farm_price.errors" class="invalid-feedback">
                <div *ngIf="f.farm_price.errors.required">Farm Price is required</div>
              </div>
              <div class="invalid-feedback" *ngIf="f.farm_price.errors && (f.farm_price.dirty || f.farm_price.touched)">
                <p *ngIf="f.farm_price.errors.pattern" class="text-danger">Number Only</p>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label for="inputEmail4">Selling Price</label>
              <input type="number" class="form-control" placeholder="Selling Price here" formControlName="selling_price"
                required [ngClass]="{ 'is-invalid': submitted && f.selling_price.errors }">
              <div *ngIf="submitted && f.selling_price.errors" class="invalid-feedback">
                <div *ngIf="f.selling_price.errors.required">Selling Price is required</div>
              </div>
              <div class="invalid-feedback"
                *ngIf="f.selling_price.errors && (f.selling_price.dirty || f.selling_price.touched)">
                <p *ngIf="f.selling_price.errors.pattern" class="text-danger">Number Only</p>
              </div>
            </div>
          </div>
          <div class="col" *ngIf="specificCategoryAttributes && !editing">
            <div *ngFor="let attributename of specificCategoryAttributes.name;let i=index">
              <div class="row">
                <div class="form-group col-md-4">
                  <label>Attribute Name</label>
                    <div class="form-control " aria-disabled="true">{{attributename}}</div>
                </div>
                <div class="form-group col-md-4">
                    <label>Attribute Value</label>
                    <input  type="text" class="form-control" [(ngModel)]="AttributeValueForm.value.values[i]" [ngModelOptions]="{standalone: true}">
                </div>
              
            </div>
            </div>
          </div>
          <div class="col" *ngIf=" editing && editAttributesArray">
              <div *ngFor="let attributename of editAttributesArray;let i=index">
                <div class="row" *ngIf="editAttributesArray">
                  <div class="form-group col-md-4">
                    <label>Attribute Name</label>
                    <input  type="text" class="form-control" aria-disabled="true" [(ngModel)]="editAttributesArray[i].name" [ngModelOptions]="{standalone: true}">
                      <!-- <div class="form-control " aria-disabled="true">{{attributename}}</div> -->
                  </div>
                  <div class="form-group col-md-4">
                      <label>Attribute Value</label>
                      <input  type="text" class="form-control" [(ngModel)]="editAttributesArray[i].value" [ngModelOptions]="{standalone: true}">
                  </div>
                
              </div>
              </div>
            </div>
          <div class="form-row">
            <div class="form-row text-center">
                <label>&nbsp;Available For &nbsp;&nbsp;&nbsp;&nbsp;</label>
                ( <div class="form-check form-group">
                <input type="checkbox" #selectallcheckboxes (click)="selectAllCheckboxes()" class="form-check-input">
                <label>Select All Hubs</label>
                </div>  <br>
                <div *ngFor="let hub of allHub;let i=index">
                <div class="form-check form-group">
                <input type="checkbox" size="lg" class="form-check-input" #checkboxes  [ngClass]="{ 'is-invalid': submitted && f.available_for.errors }">
                <label class="form-check-label" for="exampleCheck1" >{{hub.full_name}}&nbsp;&nbsp;&nbsp;</label>
                
              </div>
            </div>
            <div *ngIf="submitted && f.available_for.errors" class="invalid-feedback">
                <div *ngIf="f.available_for.errors.required">Available for is required</div>
              </div>
            </div>
            
          </div>
        
          <div class="form-row" >
              <div class=" col-md-4" *ngIf="editShowImage">
              <label>Product Image</label>
              <div class="col-sm-3 col-md-2 col-lg text-center" >
              <div class="avatar avatar-xxl avatar-online"><img src="{{editImage}}" class="rounded-circle" alt=""></div>
              </div>
              </div>
         
              <div class=" col-md-4">
                  <div class="form-group  custom-file">
                      <label class="custom-file-label" for="customFile">Select Product Image</label>
                      <input type="file" formControlName="image" (change)="selectFile($event)" class="custom-file-input" id="customFile">
                  </div>
           
              </div>
                <div class=" col-md-4 text-center">
              
                    <p-inputSwitch class="form-control" formControlName="is_active" required
                      [ngClass]="{ 'is-invalid': submitted && f.is_active.errors }"></p-inputSwitch>
                    <div *ngIf="submitted && f.is_active.errors" class="invalid-feedback">
                      <div *ngIf="f.is_active.errors.required">Status is required</div>
                    </div>
                  </div>
           </div>
         
          
          
          <br>
          <div class=" text-center">
          <button type="submit" class="btn btn-primary tx-13 mx-1">Save</button>
          <button type="button" class="btn btn-secondary tx-13" data-dismiss="modal">Close</button>
          </div>
          <!-- <div class="text-center">
            <button type="submit" class="btn btn-primary tx-13 mx-1">Save</button>
            <button type="button" class="btn btn-secondary tx-13" data-dismiss="modal">Close</button>
          </div> -->
        </form>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content tx-14">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel2">Upload CSV</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="file" id="file" class="for mx-1 float-right" (change)="uploadCSV($event.target.files)">
      </div>
      <div class="modal-footer">
        <div class="float-left text-left">
          <a target="_blank"
            href="https://firebasestorage.googleapis.com/v0/b/dummy-f382e.appspot.com/o/Sample%20Files%2FProduct.csv?alt=media&token=f9a59723-59ab-4249-bd9e-95f25ecec97a"
            class="float-left text-left">Download Sample CSV</a>
        </div>
        <button type="button" class="btn btn-secondary tx-13" [disabled]="uploading" data-dismiss="modal">Close</button>
        <button class="btn btn-primary" type="button" disabled *ngIf="uploading">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Uploading...
        </button>
        <button type="button" class="btn btn-primary tx-13" *ngIf="!uploading" (click)="extractData()"> Upload</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" *ngIf="viewArray"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Product Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group" *ngIf="showImage">
              <label>Product Image</label>
        <div class="col-sm-3 col-md-2 col-lg text-center" >
          <div class="avatar avatar-xxl avatar-online"><img src="{{image}}" class="rounded-circle" alt=""></div>
        </div>
          </div>
        <div class="form-group" *ngIf="viewArray.brand">
          <label> Brand</label>
          <input type="text" class="form-control" [(ngModel)]="viewArray.brand.name" disabled />
        </div>
        <div class="form-group">
          <label>Product Name</label>
          <input type="text" class="form-control" [(ngModel)]="viewArray.name" disabled />
        </div>
        <div class="form-group" *ngIf="viewArray.category">
          <label>Category</label>
          <input type="text" class="form-control" [(ngModel)]="viewArray.category.name" disabled />
        </div>
        <div class="form-group">
          <label>Farm Price</label>
          <input type="number" class="form-control" [(ngModel)]="viewArray.farm_price" disabled />
        </div>
        <div class="form-group">
          <label>Selling Price</label>
          <input type="number" class="form-control" [(ngModel)]="viewArray.selling_price" disabled />
        </div>
        <div class="form-group">
          <label>Available For</label>
          <div *ngFor="let avail of viewArray.available_for;let i=index">
          <input type="text" class="form-control" [(ngModel)]="viewArray.available_for[i].full_name" disabled />
          </div>
        </div>
        <div class="form-group">
          <label>Extra Details</label>
          <input type="text" class="form-control" [(ngModel)]="viewArray.details" disabled />
        </div>
        <div class="form-group">
          <label>Status</label>
          <p-inputSwitch class="form-control" [(ngModel)]="viewArray.is_active" disabled></p-inputSwitch>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>