<div class="container-fluid">
    <div class="card">
      <div class="card-header" style="overflow-x: scroll">
        <h2 class="float-left">Lead Management</h2>
        <a class="btn btn-secondary float-right text-white" (click)="resetForm()" data-toggle="modal" data-target="#modal3">Add New
          Lead</a>
          <a  class="btn btn-secondary text-white float-right mx-1"  (click)="navigateToEvent()">Events</a>
      </div>
      <div class="card-body" style="overflow-x: scroll">
        <table class="table table table-bordered table-hover table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" style="overflow-x: scroll">
          <thead>
            <tr>
              <th>S.No</th>
              <th>Event Name</th>
              <th>City</th>
              <th>Date</th>
              <th>Mobile</th>
              <th>Address</th>
              <th>Comments</th>
              <th>Call Status</th>
              <th>Last Scheduled Date</th>
              <th>Schedule Next Call</th>
              <th>Status Of Customer</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let lead of allLeads; let i = index">
              <td>{{i+1}}</td>
              <td>{{lead?.event?.name}}</td>
              <td>{{lead?.city?.name}}</td>
              <td>{{lead?.event?.time | date: 'dd/mm/yy h:mm a'}}</td>
              <td>{{lead?.contact}}</td>
              <td>{{lead?.address}}</td>
              <td>{{allLeads[i]?.comments[0].comment}}</td>
              <td>{{lead?.callStatus}}</td>
              <td>Scheduled on {{allLeads[i]?.comments[allLeads[i].comments.length-1].at | date: 'dd/mm/yy h:mm a'}} for {{allLeads[i]?.comments[allLeads[i].comments.length-1].nextDate | date: 'dd/mm/yy h:mm a'}}</td>
              <td></td>
              <td>{{lead?.status}}</td>
              <td> <a style="cursor: pointer" (click)="viewLead(i)" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-phone-volume"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content tx-14">
        <div class="modal-header">
          <h6 class="modal-title" id="exampleModalLabel3" *ngIf="!editing">Add New Lead</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="eventLeadForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
              <div class="form-group ">
                <div class="col">
                  <label>Customer Name</label>
                  <input type="text" formControlName="full_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.full_name.errors }" />
                  <div *ngIf="submitted && f.full_name.errors" class="invalid-feedback">
                    <div *ngIf="f.full_name.errors.required">Customer Name is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group ">
                <div class="col">
                  <label>Email</label>
                  <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row ">
              <div class="form-group col-md-4">
                <label>Primary Number</label>
                <input type="text" formControlName="contact" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.contact.errors }" />
                <div *ngIf="submitted && f.contact.errors" class="invalid-feedback">
                  <div *ngIf="f.contact.errors.required">Number is required</div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label>Gender</label>
                <select class="form-control" (change)="genderSelection($event)">
                  <option selected disabled>Select Gender</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label>City</label>
                <select name="type" id="" class="form-control" formControlName="city" required [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
                  <option selected disabled>Select City</option>
                  <option *ngFor="let city of allCity" [ngValue]="city._id">{{city.name}}</option>
                </select>
                <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                  <div *ngIf="f.city.errors.required">City is required</div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label>Address</label>
                <input type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
                <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                  <div *ngIf="f.address.errors.required">Address is required</div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-3">
                <label>Event</label>
                <select name="type" id="" class="form-control" formControlName="event" required [ngClass]="{ 'is-invalid': submitted && f.event.errors }">
                  <option disabled selected>Select Event</option>
                  <option *ngFor="let event of allMainEvents" [ngValue]="event._id">{{event.name}}</option>
                </select>
                <div *ngIf="submitted && f.event.errors" class="invalid-feedback">
                  <div *ngIf="f.event.errors.required">Event required</div>
                </div>
              </div>
              <div class="form-group col">
                <label>Comment</label>
                <div class="form-group green-border-focus">
                  <textarea class="form-control" formControlName="comment" [ngClass]="{ 'is-invalid': submitted && f.comment.errors }" id="exampleFormControlTextarea5" rows="3"></textarea>
                </div>
                <div *ngIf="submitted && f.comment.errors" class="invalid-feedback">
                  <div *ngIf="f.comment.errors.required">Comment required</div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-lg-6">
                <label for="exampleFormControlTextarea5">Follow Up Date</label>
                <input type="date" class="form-control" formControlName="nextdate" [ngClass]="{ 'is-invalid': submitted && f.nextdate.errors }">
                <div *ngIf="submitted && f.nextdate.errors" class="invalid-feedback">
                  <div *ngIf="f.nextdate.errors.required">Follow up date required</div>
                </div>
              </div>
              <div class="form-group col-lg-6">
                <label for="exampleFormControlTextarea5">Preferred Time</label>
                <input type="datetime-local" class="form-control" formControlName="preferredTime" [ngClass]="{ 'is-invalid': submitted && f.preferredTime.errors }">
                <div *ngIf="submitted && f.preferredTime.errors" class="invalid-feedback">
                  <div *ngIf="f.preferredTime.errors.required">Time required</div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="exampleFormControlTextarea5">Lead Status</label>
                <select name="incharge" id="" class="form-control" formControlName="status" required [(ngModel)]="eventLeadForm.value.status" [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
                  <option selected disabled>Select Event Lead Status</option>
                  <option value="converted">Converted</option>
                  <option value="dont require">Dont Require</option>
                  <option value="no delivry in area">No delivery In Area</option>
                </select>
                <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                  <div *ngIf="f.status.errors.required">Status is required</div>
                </div>
              </div>
              <div class="form-group col-md-d">
                <label for="exampleFormControlTextarea5">Calling Status</label>
                <select name="incharge" id="" class="form-control" formControlName="callStatus" required [(ngModel)]="eventLeadForm.value.callStatus" [ngClass]="{ 'is-invalid': submitted && f.callStatus.errors }">
                  <option selected disabled>Lead Calling Status</option>
                  <option value="scheduled">Scheduled</option>
                  <option value="compleated">Compleated</option>
                  <option value="pending">Pending</option>
                </select>
                <div *ngIf="submitted && f.callStatus.errors" class="invalid-feedback">
                  <div *ngIf="f.callStatus.errors.required">Calling Status is required</div>
                </div>
              </div>
              <div class="form-group col-md-d">
                <label for="exampleFormControlTextarea5">Mode</label>
                <input type="text" class="form-control" formControlName="mode" [ngClass]="{ 'is-invalid': submitted && f.mode.errors }">
                <div *ngIf="submitted && f.mode.errors" class="invalid-feedback">
                  <div *ngIf="f.mode.errors.required">Mode required</div>
                </div>
              </div>
            </div>
            <br>
            <div class=" text-center">
              <button type="submit" class="btn btn-primary tx-13 mx-1">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--View Example Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="viewArray">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Lead Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-row">
            <div class="form-group ">
              <div class="col">
                <label>Customer Name</label>
                <input type="text" [(ngModel)]="viewArray.full_name" class="form-control" disabled required />
              </div>
            </div>
            <div class="form-group ">
              <div class="col">
                <label>Email</label>
                <input type="email" [(ngModel)]="viewArray.email" class="form-control" disabled required>
              </div>
            </div>
          </div>
          <div class="form-row ">
            <div class="form-group col-md-4">
              <label>Primary Number</label>
              <input type="text" class="form-control" [(ngModel)]="viewArray.contact" disabled required>
            </div>
            <div class="form-group col-md-4">
              <label>Gender</label>
              <input type="text" [(ngModel)]="viewArray.gender" class="form-control" disabled required/>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4" *ngIf="viewArray.city">
              <label>City</label>
              <input type="text" [(ngModel)]="viewArray.city.name" class="form-control" disabled required/>
            </div>
            <div class="form-group col-md-4">
              <label>Address</label>
              <input type="text" disabled required class="form-control" [(ngModel)]="viewArray.address">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-3" *ngIf="viewArray.event">
              <label>Event</label>
              <input type="text" disabled required class="form-control" [(ngModel)]="viewArray.event.name">
            </div>
            <div class="form-group col-lg-6" *ngIf="timeFormat">
              <label for="exampleFormControlTextarea5">Preferred Time</label>
              <input type="text" disabled required [(ngModel)]="timeFormat" class="form-control">
            </div>
            <div class="form-group col">
              <label for="exampleFormControlTextarea5">Mode</label>
              <input type="text" class="form-control" [(ngModel)]="viewArray.mode" disabled required>
            </div>
          </div>
          <table class="table table-bordered table-hover" *ngIf="showTable">
            <thead>
              <tr>
                <th>S no.</th>
                <th>Last Comments</th>
                <th>Last Comments Created Date</th>
                <th>Follow Up Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let comment of viewArray.comments;let i=index">
                <td>{{i+1}}</td>
                <td>{{comment?.comment}}</td>
                <td>{{comment?.at | date: 'dd/mm/yy h:mm a'}}</td>
                <td>{{comment?.nextDate | date: 'dd/mm/yy '}}</td>
              </tr>
            </tbody>
          </table>
          <div class="">
            <div class=" col">
              <form [formGroup]="CommentForm" (ngSubmit)="onSubmitComment()">
                <div class="">
                  <label>Comment</label>
                  <div class="form-group green-border-focus">
                    <textarea #myInput class="form-control" formControlName="comment" [ngClass]="{ 'is-invalid': submitted && f2.comment.errors }" id="exampleFormControlTextarea5" rows="3"></textarea>
                  </div>
                  <div *ngIf="submitted && f2.comment.errors" class="invalid-feedback">
                    <div *ngIf="f2.comment.errors.required">Comment required</div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-4">
                    <label for="exampleFormControlTextarea5">Follow Up Date</label>
                    <input #myInput2 type="date" class="form-control" formControlName="nextdate" [ngClass]="{ 'is-invalid': submitted && f.nextdate.errors }">
                    <div *ngIf="submitted && f.nextdate.errors" class="invalid-feedback">
                      <div *ngIf="f.nextdate.errors.required">Follow up date required</div>
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <div formGroupName="StatusForm" class="form-group ">
                      <label for="exampleFormControlTextarea5">Lead Status</label>
                      <select name="incharge" id="" class="form-control" formControlName="status" required [(ngModel)]="CommentForm.value.StatusForm.status">
                        <option selected disabled>Select Event Lead Status</option>
                        <option value="converted">Converted</option>
                        <option value="dont require">Dont Require</option>
                        <option value="no delivry in area">No delivery In Area</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <div formGroupName="StatusForm" class="form-group ">
                      <label for="exampleFormControlTextarea5">Calling Status</label>
                      <select name="incharge" id="" class="form-control" formControlName="callStatus" required [(ngModel)]="CommentForm.value.StatusForm.callStatus">
                        <option selected disabled>Lead Calling Status</option>
                        <option value="scheduled">Scheduled</option>
                        <option value="compleated">Compleated</option>
                        <option value="pending">Pending</option>
                      </select>
                    </div>
                  </div>
                </div>
                <br>
                <div class=" text-center">
                  <button type="submit" class="btn btn-primary tx-13 mx-1">Add Comment</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>