<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h2 class="float-left">Tickets Management</h2>
      <a class="btn btn-secondary float-right text-white" (click)="resetForm()" data-toggle="modal"
        data-target="#modal3">Add New
        Ticket</a>
      <!-- <a class="btn btn-secondary text-white mx-1 float-right" (click)="resetForm()" data-toggle="modal"
        data-target="#modal2">Upload CSV</a> -->
    </div>
    <div class="card-body">
      <table class="table table table-bordered table-hover table-striped" datatable [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger">
        <thead>
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">Ticket Number</th>
            <th scope="col">Ticket Date</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ticket of allTickets; let i = index">
            <td>{{i+1}}</td>
            <td>{{ticket.ticket_number}}</td>
            <td>{{ticket.created_at | date: 'dd/MM/yy'}},{{ticket.created_at | date: 'h:mm a'}}</td>
            <td>{{ticket.status | uppercase}}</td>
            <td>
                <a style="cursor: pointer" (click)="viewTicket(i)" data-toggle="modal"
                data-target="#ticketModal"><i class="fas fa-eye"></i></a>
              <!-- <a style="cursor: pointer" data-toggle="modal" data-target="#modal3" (click)="editState(i)"><i
                  class="fas fa-edit mx-2"></i> </a>
              <a style="cursor: pointer" (click)="deleteState(i)"><i class="fas fa-trash-alt"></i></a> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content tx-14">
      <!-- <div class="modal-body"> -->

          <div class="card">
              <div class="card-header">
                Generate Ticket
              </div>
              <div class="card-body">

                  <form [formGroup]="ticketsForm" (ngSubmit)="onSubmit()">
                    <div class="form-row">
                      <div class="form-group col-md-4" >
                          <label for="inputEmail4">Customer Name</label>
                          <!-- <input type="text" class="form-control" placeholder="Brand here " formControlName="brand" required
                            [ngClass]="{ 'is-invalid': submitted && f.brand.errors }"> -->
                            <select class="form-control" formControlName="customer" required
                            [ngClass]="{ 'is-invalid': submitted && f.customer.errors }">
                            <option selected disabled>Select Customer</option>
                            <option [ngValue]="customer._id" *ngFor="let customer of allCustomers;let i=index">{{customer.full_name}}
                            </option>
                          </select>
                          <div *ngIf="submitted && f.customer.errors" class="invalid-feedback">
                            <div *ngIf="f.customer.errors.required">User is required</div>
                          </div>
                        </div>
                      </div>

                    <div class="form-row">
                      <div>                       
                         <legend>Call type:</legend>
                        <div class="form-group " formGroupName="callType" >
                      <div class="form-check form-check-inline" >
                      <input class="form-check-input" #radio  type="radio" id="unselect_all" name="callType" value="true">
                      <label class="form-check-label" for="inlineRadio1">Inbound</label>
                      </div>
                      <div class="form-check form-check-inline" >
                      <input class="form-check-input"  type="radio" value="true" id="unselect_all" name="callType"   >
                      <label class="form-check-label" for="inlineRadio2">Outbound</label>
                      </div>
                    </div>
                  </div>
                  <div style="margin-left: 100px">
                    <legend>Customer Concern Media:</legend>
                    <div class="form-group " (change)="selectustomerConcernMedia($event)">
                      <div class="form-check form-check-inline" >
                      <input class="form-check-input" id="unselect_all"  type="radio" name="customerConcernMedia" value="1" >
                      <label class="form-check-label" for="inlineRadio1">Mobile</label>
                      </div>
                      <div class="form-check form-check-inline">
                      <input class="form-check-input" id="unselect_all" type="radio" name="customerConcernMedia" value="2" >
                      <label class="form-check-label" for="inlineRadio2">whatsapp</label>
                      </div>
                      <div class="form-check form-check-inline">
                          <input class="form-check-input"  id="unselect_all"  type="radio"  name="customerConcernMedia" value="3" >
                          <label class="form-check-label" for="inlineRadio2">Hub</label>
                       </div>
                       </div>
                  </div>
                  <div style="margin-left: 100px">
                    <legend>Products:</legend>
                        <div  (change)="selectustomerProducts($event)">
                      <div class="form-check form-check-inline">
                      <input class="form-check-input" id="unselect_all"  type="radio" name="radio" value="1">
                      <label class="form-check-label" for="inlineRadio1">Milk</label>
                      </div>
                      <div class="form-check form-check-inline">
                      <input class="form-check-input" id="unselect_all" type="radio" name="radio" value="2" >
                      <label class="form-check-label" for="inlineRadio2">Ghee</label>
                      </div>
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" id="unselect_all" type="radio" name="radio" value="3" >
                          <label class="form-check-label" for="inlineRadio2">Butter</label>
                       </div>
                       
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" id="unselect_all" type="radio" name="radio" value="4" >
                          <label class="form-check-label" for="inlineRadio2">Cheese</label>
                       </div>
                    </div>
                  </div>

                    </div>
                    <div class="form-row">
                      <div class="form-group col-lg-8">
                        <nav class="nav nav-pills nav-justified">
                            <a  class=" nav-item nav-link active" (click)="products()" data-toggle="tab">Product Concern </a>
                            <span><a  class=" nav-item nav-link" (click)="service()" data-toggle="tab">Service Concern </a></span>
                            <a  class=" nav-item nav-link" (click)="subscription()" data-toggle="tab"><span>Close Subscription Request </span></a>
                          </nav>
                        </div>
                    </div>



                    <div class="card-deck" *ngIf="showProductConcern">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Milk Composition</h5>
                            <div id="checkBoxesContainer" formGroupName="milkComposition" >
                              <span class="check"><input type='checkbox' value='true' formControlName="thinMilklessFat" id="valuable1"/><label for="valuable1"> Thin milk/less fat</label> </span>
                              <span class="check"><input type='checkbox' value='true' formControlName="thickMilkMoreFat" id="valuable2"/><label for="valuable2"> Thick milk/more fat</label> </span>
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Impurities in milk</h5>
                            <div id="checkBoxesContainer"  formGroupName="impuritiesInMilk" >
                              <span class="check"><input type='checkbox' value='true' formControlName="insectInMilk" id="valuable1"/><label for="valuable1"> Insect in milk</label> </span>
                               <span class="check"> <input type='checkbox' value='true' formControlName="siltInMilk" id="valuable2"/><label for="valuable2"> Silt in milk</label> </span>
                               <span class="check"> <input type='checkbox' value='true' formControlName="blackParticle" id="valuable2"/><label for="valuable2">Black partcles</label> </span>
                        </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Packaging</h5>
                            <div id="checkBoxesContainer"  formGroupName="packaging" >
                              <span class="check"> <input type='checkbox' value='true' formControlName="bottleBrokeOrChipped" id="valuable1"/><label for="valuable1"> Bottle broke/chipped</label> </span>
                                <span class="check"><input type='checkbox' value='true' formControlName="sealBroken" id="valuable2"/><label for="valuable2"> Seal broken</label> </span>
                                <span class="check"><input type='checkbox' value='true' formControlName="dirtyCaps" id="valuable2"/><label for="valuable2">Dirty Caps</label> </span>
                                <span class="check"><input type='checkbox' value='true' formControlName="noDCPLabel" id="valuable2"/><label for="valuable2">No dcp label</label> </span>
                        </div>
                          </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">Propeties of milk</h5>
                              <div id="checkBoxesContainer"  formGroupName="propertiesOfMilk" >
                                <span class="check"><input type='checkbox' value='true' formControlName="offSmell" id="valuable1"/><label for="valuable1"> Off smell</label></span> 
                                <span class="check"><input type='checkbox' value='true' formControlName="offTaste" id="valuable2"/><label for="valuable2">Off taste</label></span>  
                                <span class="check"><input type='checkbox' value='true' formControlName="curdlingOfMilk" id="valuable2"/><label for="valuable2">Curdig of milk</label></span> 
                                  <span class="check"><input type='checkbox' value='true' formControlName="noProperCurd" id="valuable2"/><label for="valuable2">No proper curd</label> </span>
                                  <span class="check"><input type='checkbox' value='true' formControlName="notYellowInColor" id="valuable2"/><label for="valuable2">Not yellow in color</label> </span>
                                  <span class="check"><input type='checkbox' value='true' formControlName="stickingToUtensilOnBoiling" id="valuable2"/><label for="valuable2">Sticking to utensil on boiling</label> </span>
                          </div>
                            </div>
                          </div>
                      </div>
                  
                      <!-- Service Concern -->

                      <div class="card-deck" *ngIf="showServiceConcern">
                          <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">Delivery Schedule</h5>
                              <div id="checkBoxesContainer"   formGroupName="deliverySchedule" >
                                <span class="check"><input type='checkbox' value='true' formControlName="noDelivery" id="valuable1"/><label for="valuable1"> No dilvery</label></span> 
                                <span class="check"><input type='checkbox' value='true' formControlName="deliveredWithoutSubscription" id="valuable2"/><label for="valuable2">Diliveed without subscription</label></span>  
                                <span class="check"><input type='checkbox' value='true' formControlName="wrongQuantityDelivered" id="valuable2"/><label for="valuable2">Wrong Quantity entered</label></span>  
                          </div> 
                            </div>
                          </div>
                          <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">Delivery timing</h5>
                              <div id="checkBoxesContainer"  formGroupName="deliveryTiming" >
                                <span class="check"><input type='checkbox' value='true' formControlName="deliveringLate" id="valuable1"/><label for="valuable1">Late Delivery</label> </span> 
                                <span class="check"><input type='checkbox' value='true' formControlName="deliveringEarly" id="valuable2"/><label for="valuable2"> Delivering earle</label> </span> 
                                <span class="check"><input type='checkbox' value='true' formControlName="irregularDeliveryTime" id="valuable2"/><label for="valuable2">Irregular delivery time</label> </span> 
                          </div>
                            </div>
                          </div>
                          <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">Billing Issue</h5>
                              <div id="checkBoxesContainer"  formGroupName="billingIssue" >
                                <span class="check"><input type='checkbox' value='true' formControlName="paidAlready" id="valuable1"/><label for="valuable1"> Paid Already</label></span> 
                                  <span class="check"><input type='checkbox' value='true' formControlName="wronglyBilledOnNonDeliveryDates" id="valuable2"/><label for="valuable2"> Wrong billed on non dilivery date</label> </span>
                          </div>
                            </div>
                          </div>
                          <div class="card">
                              <div class="card-body">
                                <h5 class="card-title">Service Issue</h5>
                                <div id="checkBoxesContainer"  formGroupName="serviceIssue" >
                                  <span class="check"><input type='checkbox' value='true' formControlName="notFollowedUpRaisedConcern" id="valuable1"/><label for="valuable1"> Not followed up raised reason</label></span> 
                                  <span class="check"><input type='checkbox' value='true' formControlName="notFollowedDeliveryInstruction" id="valuable2"/><label for="valuable2">Not followed delivery istruction</label></span>  
                                  <span class="check"><input type='checkbox' value='true' formControlName="didNotStartSubscriptionAsPromised" id="valuable2"/><label for="valuable2">Did not start subscription as provided</label> </span>
                            </div>
                              </div>
                            </div>
                        </div>

                    
                        <!-- closed Subscription -->

                        <div class="card" *ngIf="showCloseSubscription">
                            <div class="card-body">
      
      
                                <div id="checkBoxesContainer" class="form-group" formGroupName="closeSubscriptionRequest" >
                                  <span class="check"><input type='checkbox' value='true' formControlName="relocated" id="valuable1"/><label for="valuable1"> Relocated</label> </span>
                                  <span class="check"><input type='checkbox' value='true' formControlName="costly" id="valuable2"/><label for="valuable2"> Costly</label> </span>
                                  <span class="check"><input type='checkbox' value='true' formControlName="wantA2Milk" id="valuable2"/><label for="valuable2">Want A2 Milk</label> </span>
                                  <span class="check"><input type='checkbox' value='true' formControlName="timingIssue" id="valuable2"/><label for="valuable2">Timing issue</label> </span>
                                  <span class="check"><input type='checkbox' value='true' formControlName="milkCompositionIssue" id="valuable2"/><label for="valuable2">Milk composition ssue</label> </span>
                                  <span class="check"><input type='checkbox' value='true' formControlName="billingIssue" id="valuable2"/><label for="valuable2">Billing issue</label> </span>
                                  <span class="check"><input type='checkbox' value='true' formControlName="healthIssue" id="valuable2"/><label for="valuable2">Health issue</label> </span>
                                  <span class="check"><input type='checkbox' value='true' formControlName="otherBrand" id="valuable2"/><label for="valuable2">Other brand</label> </span>
                                  <span class="check"><input type='checkbox' value='true' formControlName="localVendor" id="valuable2"/><label for="valuable2">Local vendor</label></span> 
                                  <span class="check"> <input type='checkbox' value='true' formControlName="wantBuffaloMilk" id="valuable2"/><label for="valuable2">Want buffalo milk</label> </span>
                                  <span class="check">  <input type='checkbox' value='true' formControlName="noReason" id="valuable2"/><label for="valuable2">No reason</label> </span> 
                                  <span class="check">  <input type='checkbox' value='true' formControlName="doctorAdvice" id="valuable2"/><label for="valuable2">Doctor advice</label></span> 
                                  <span class="check">    <input type='checkbox' value='true' formControlName="lessConsumption" id="valuable2"/><label for="valuable2">Less consumption</label> </span>
                                </div>
                            </div>
                          </div>

                          <div class="form-row">
                              <div class="form-group col-md-4">
                                  <label>Customer Concern</label>
                                  <input type="text" style="height:150px;width:350px" formControlName="customerConcern" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.customerConcern.errors }" />
                                  <div *ngIf="submitted && f.customerConcern.errors" class="invalid-feedback">
                                      <div *ngIf="f.customerConcern.errors.required">Customer concern is required</div>
                                  </div>
                              </div>

                              <div class="form-group col-md-4">
                                  <label for="inputEmail4">Assign To</label>
                                  <!-- <input type="text" class="form-control" placeholder="Brand here " formControlName="brand" required
                                    [ngClass]="{ 'is-invalid': submitted && f.brand.errors }"> -->
                                    <select class="form-control" formControlName="assignTo" required
                                    [ngClass]="{ 'is-invalid': submitted && f.assignTo.errors }">
                                    <option selected disabled>Select User</option>
                                    <option [ngValue]="user._id" *ngFor="let user of allUsers;let i=index">{{user.full_name}}
                                    </option>
                                  </select>
                                  <div *ngIf="submitted && f.assignTo.errors" class="invalid-feedback">
                                    <div *ngIf="f.assignTo.errors.required">User is required</div>
                                  </div>
                                </div>

                                <div class="card form-group col-md-4" style="width: 18rem;margin-top: 30px">
                                    <div class="card-body">
                                        <label for="valuable1"><span></span> Mark as urgent?</label> <input type='checkbox' value='true' formControlName="isUrgent" id="valuable1"/>
                                        <label for="valuable1"><span></span> Closed subscription?</label>  <input type='checkbox' value='true' formControlName="isSubscriptionClosed" id="valuable1"/>
                                    </div>
                                  </div>
                                  

                            </div>                        
  
                            <br>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Generate</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                  </form>

            </div>

      </div>
    </div>
  </div>
</div>


      <div class="modal fade" id="ticketModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true" *ngIf="viewArray">
          <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content tx-14">
                <div class="card">
                    <div class="card-header">
                      Ticket Details
                    </div>
                    <div class="card-body">
                      <div class="form-row">
                        <div class="form-group col-md-4" *ngIf="viewArray.customer">
                            <label for="inputEmail4">Customer Name</label>
                            <input type="text" class="form-control" [(ngModel)]="viewArray.customer.full_name" disabled>
                          </div>
                  
                          <div class="form-group col-md-4" *ngIf="viewArray.customer">
                              <label for="inputEmail4">Registered Number</label>
                              <input type="text" class="form-control" [(ngModel)]="viewArray.customer.mobile_number" disabled>
                            </div>
                  
                            <div class="form-group col-md-4" *ngIf="viewArray.customer">
                                <label for="inputEmail4"> Address</label>
                                <input type="text" class="form-control" [(ngModel)]="viewArray.customer.street_address" disabled>
                              </div>
                        </div>
                        <div class="form-row">

                            <div class="form-group col-md-3" *ngIf="viewArray.customer">
                                <label for="inputEmail4">Hub</label>
                                <input type="text" class="form-control" disabled>
                              </div>
                      
                              <div class="form-group col-md-3" *ngIf="callType">
                                  <label for="inputEmail4">Call Type</label>
                                  <input type="text" class="form-control" [(ngModel)]="callType" disabled>
                                </div>
                      
                                <div class="form-group col-md-3" *ngIf="customerConcernMedia">
                                    <label for="inputEmail4"> customer Concern Media</label>
                                    <input type="text" class="form-control" [(ngModel)]="customerConcernMedia" disabled>
                                  </div>
                                  <div class="form-group col-md-3" *ngIf="Products">
                                      <label for="inputEmail4"> Products</label>
                                      <input type="text" class="form-control" [(ngModel)]="Products" disabled>
                                    </div>

                        </div>
                        <div class="form-row">

                            <div class="form-group col-md-3" *ngIf="viewArray">
                                <label for="inputEmail4">Customer Concern</label>
                                <textarea class="form-control" id="exampleFormControlTextarea5" rows="5" [(ngModel)]="viewArray.customerConcern" disabled></textarea>

                              </div>

                        </div>

                        <div class="form-row">

                            <ul class="nav nav-pills nav-fill">
                                <li class="nav-item active" >
                                  <a class="nav-link " data-toggle="tab" (click)="showTicketProductConcern()">Product Concern</a>
                                </li>
                                <li class="nav-item" >
                                  <a class="nav-link" data-toggle="tab" (click)="showTicketServiceConcern()">Service Concern</a>
                                </li>
                                <li class="nav-item" >
                                  <a class="nav-link"  data-toggle="tab" (click)="showTicketSubscriptionConcern()">Close Subscription Request</a>
                                </li>
                              </ul>
                        </div>
                        


                              <div class="card-deck" *ngIf="showTicketPructProblem">
                                  <div class="card">
                                    <div class="card-body">
                                      <h5 class="card-title">Milk Composition</h5>
                                                <span class="check"><input type='checkbox' [(ngModel)]="viewArray.issues.productConcern.milkComposition.thinMilklessFat" disabled id="valuable1"/><label for="valuable1"> Thin milk/less fat</label> </span>
                                               <span class="check"><input type='checkbox' [(ngModel)]="viewArray.issues.productConcern.milkComposition.thickMilkMoreFat" disabled id="valuable2"/><label for="valuable2"> Thick milk/more fat</label></span>
                                    </div>
                                  </div>
                                  <div class="card">
                                    <div class="card-body">
                                      <h5 class="card-title">Impurities in milk</h5>
                                      <span class="check"> <input type='checkbox'  [(ngModel)]="viewArray.issues.productConcern.impuritiesInMilk.insectInMilk" disabled id="valuable1"/><label for="valuable1"> Insect in milk</label></span> 
                                      <span class="check"> <input type='checkbox'   [(ngModel)]="viewArray.issues.productConcern.impuritiesInMilk.siltInMilk" disabled id="valuable2"/><label for="valuable2"> Silt in milk</label></span> 
                                      <span class="check"> <input type='checkbox' [(ngModel)]="viewArray.issues.productConcern.impuritiesInMilk.blackParticle" disabled id="valuable2"/><label for="valuable2">Black partcles</label> </span>
                                    </div>
                                  </div>
                                  <div class="card">
                                    <div class="card-body">
                                      <h5 class="card-title">Packaging</h5>
                                      <span class="check"> <input type='checkbox'[(ngModel)]="viewArray.issues.productConcern.packaging.bottleBrokeOrChipped" disabled id="valuable1"/><label for="valuable1"> Bottle broke/chipped</label></span> 
                                      <span class="check"> <input type='checkbox' [(ngModel)]="viewArray.issues.productConcern.packaging.sealBroken" disabled id="valuable2"/><label for="valuable2">Seal broken</label></span> 
                                      <span class="check"> <input type='checkbox' [(ngModel)]="viewArray.issues.productConcern.packaging.dirtyCaps" disabled id="valuable2"/><label for="valuable2">Dirty Caps</label> </span>
                                      <span class="check"> <input type='checkbox' [(ngModel)]="viewArray.issues.productConcern.packaging.noDCPLabel" disabled id="valuable2"/><label for="valuable2">No dcp label</label> </span>
                                    </div>
                                  </div>
                                  <div class="card">
                                      <div class="card-body">
                                        <h5 class="card-title">Properties of milk</h5>
                                        <span class="check">   <input type='checkbox' [(ngModel)]="viewArray.issues.productConcern.propertiesOfMilk.offSmell" disabled id="valuable1"/><label for="valuable1">Off smell</label> </span>
                                        <span class="check">  <input type='checkbox' [(ngModel)]="viewArray.issues.productConcern.propertiesOfMilk.offTaste" disabled id="valuable2"/><label for="valuable2"> Off taste</label> </span>
                                        <span class="check">  <input type='checkbox' [(ngModel)]="viewArray.issues.productConcern.propertiesOfMilk.curdlingOfMilk" disabled id="valuable2"/><label for="valuable2">Curdling of milk</label> </span>
                                        <span class="check">  <input type='checkbox' [(ngModel)]="viewArray.issues.productConcern.propertiesOfMilk.noProperCurd" disabled id="valuable2"/><label for="valuable2">No proper curd</label> </span>
                                        <span class="check">  <input type='checkbox' [(ngModel)]="viewArray.issues.productConcern.propertiesOfMilk.notYellowInColor" disabled id="valuable2"/><label for="valuable2">Not yellow in color</label> </span>
                                        <span class="check"> <input type='checkbox' [(ngModel)]="viewArray.issues.productConcern.propertiesOfMilk.stickingToUtensilOnBoiling" disabled id="valuable2"/><label for="valuable2">Sticking to utensil on boiling</label> </span>

                                      </div>
                                    </div>
                                </div>



                                <div class="card-deck"  *ngIf="showTicketServiceProblem">
                                    <div class="card">
                                      <div class="card-body">
                                        <h5 class="card-title">Delivery Schedule</h5>
                                        <span class="check"> <input type='checkbox' [(ngModel)]="viewArray.issues.serviceConcern.deliverySchedule.noDelivery" disabled id="valuable1"/><label for="valuable1"> No dilvery</label> </span> 
                                        <span class="check"><input type='checkbox' [(ngModel)]="viewArray.issues.serviceConcern.deliverySchedule.deliveredWithoutSubscription" disabled id="valuable2"/><label for="valuable2"> Diliveed without subscription</label> </span>
                                        <span class="check">  <input type='checkbox' [(ngModel)]="viewArray.issues.serviceConcern.deliverySchedule.wrongQuantityDelivered" disabled id="valuable2"/><label for="valuable2"> Wrong Quantity entered</label> </span>
                                      </div>
                                    </div>
                                    <div class="card">
                                      <div class="card-body">
                                        <h5 class="card-title">Delivery Timing</h5>
                                        <span class="check"> <input type='checkbox' [(ngModel)]="viewArray.issues.serviceConcern.deliveryTiming.deliveringLate" disabled id="valuable1"/><label for="valuable1"> Late Delivery</label> </span>
                                        <span class="check"> <input type='checkbox' [(ngModel)]="viewArray.issues.serviceConcern.deliveryTiming.deliveringEarly" disabled  id="valuable2"/><label for="valuable2">Delivering earle</label> </span>
                                        <span class="check">     <input type='checkbox' [(ngModel)]="viewArray.issues.serviceConcern.deliveryTiming.irregularDeliveryTime" disabled  id="valuable2"/><label for="valuable2">Irregular delivery time</label> </span>
                                      </div>
                                    </div>
                                    <div class="card">
                                      <div class="card-body">
                                        <h5 class="card-title">Billing Issue</h5>
                                        <span class="check"><input type='checkbox' [(ngModel)]="viewArray.issues.serviceConcern.billingIssue.paidAlready" disabled id="valuable1"/><label for="valuable1"> Paid Already</label> </span>
                                        <span class="check"> <input type='checkbox' [(ngModel)]="viewArray.issues.serviceConcern.billingIssue.wronglyBilledOnNonDeliveryDates" disabled id="valuable2"/><label for="valuable2">Wrong billed on non dilivery date</label> </span>
                                      </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-body">
                                          <h5 class="card-title">Service Issue</h5>
                                          <span class="check"><input type='checkbox' [(ngModel)]="viewArray.issues.serviceConcern.serviceIssue.notFollowedUpRaisedConcern" disabled id="valuable1"/><label for="valuable1"> Not followed up raised reason</label> </span>
                                          <span class="check"><input type='checkbox'[(ngModel)]="viewArray.issues.serviceConcern.serviceIssue.notFollowedDeliveryInstruction" disabled id="valuable2"/><label for="valuable2"> Not followed delivery istruction</label> </span>
                                          <span class="check"><input type='checkbox' [(ngModel)]="viewArray.issues.serviceConcern.serviceIssue.didNotStartSubscriptionAsPromised" disabled id="valuable2"/><label for="valuable2">Did not start subscription as provided</label> </span>
                                        </div>
                                      </div>
                                  </div>

                                  <div class="card" style="width: 18rem;" *ngIf="showTicketSubscriptionProblem">
                                      <div class="card-body">
                                        <span class="check">  <input type='checkbox' [(ngModel)]="viewArray.issues.closeSubscriptionRequest.relocated" disabled id="valuable1"/><label for="valuable1"> Relocated</label> </span>
                                        <span class="check"><input type='checkbox' [(ngModel)]="viewArray.issues.closeSubscriptionRequest.costly" disabled id="valuable2"/><label for="valuable2">Costly</label> </span>
                                        <span class="check"><input type='checkbox' [(ngModel)]="viewArray.issues.closeSubscriptionRequest.wantA2Milk" disabled id="valuable2"/><label for="valuable2">Want A2 Milk</label> </span>
                                        <span class="check"><input type='checkbox' [(ngModel)]="viewArray.issues.closeSubscriptionRequest.timingIssue" disabled id="valuable2"/><label for="valuable2">Timing issue</label> </span>
                                        <span class="check"><input type='checkbox' [(ngModel)]="viewArray.issues.closeSubscriptionRequest.milkCompositionIssue" disabled id="valuable2"/><label for="valuable2">Milk composition ssue</label> </span>
                                        <span class="check"><input type='checkbox' [(ngModel)]="viewArray.issues.closeSubscriptionRequest.billingIssue" disabled id="valuable2"/><label for="valuable2">Billing issue</label> </span>
                                        <span class="check"><input type='checkbox' [(ngModel)]="viewArray.issues.closeSubscriptionRequest.healthIssue" disabled id="valuable2"/><label for="valuable2">Health issue</label> </span>
                                        <span class="check"><input type='checkbox' [(ngModel)]="viewArray.issues.closeSubscriptionRequest.otherBrand" disabled id="valuable2"/><label for="valuable2">Other brand</label> </span>
                                        <span class="check"><input type='checkbox' [(ngModel)]="viewArray.issues.closeSubscriptionRequest.localVendor" disabled id="valuable2"/><label for="valuable2">Local vendor</label> </span>
                                        <span class="check"><input type='checkbox' [(ngModel)]="viewArray.issues.closeSubscriptionRequest.wantBuffaloMilk" disabled id="valuable2"/><label for="valuable2">Want buffalo milk</label> </span>
                                        <span class="check"><input type='checkbox' [(ngModel)]="viewArray.issues.closeSubscriptionRequest.noReason" disabled id="valuable2"/><label for="valuable2">No reason</label> </span>
                                        <span class="check"><input type='checkbox' [(ngModel)]="viewArray.issues.closeSubscriptionRequest.doctorAdvice" disabled id="valuable2"/><label for="valuable2">Doctor advice</label> </span>
                                        <span class="check"><input type='checkbox'[(ngModel)]="viewArray.issues.closeSubscriptionRequest.lessConsumption" disabled id="valuable2"/><label for="valuable2">Less consumption</label> </span> 
                                      </div>
                                    </div>

                             <div >


                              <br>

                                <table class="table table-bordered" *ngIf="showResponses">
                                    <thead>
                                      <tr>
                                          <th>S no.</th>
                                          <th>Response By</th>
                                        <th>Response At</th>
                                        <th>Action Taken</th>
                                        <th>Follow Up Comments</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let response of viewArray.responses;let i=index">
                                        <td>{{i+1}}</td>
                                        <td>{{response?.by?.full_name}}</td>
                                        <td>{{response?.at | date: 'dd/MM/yy'}},{{response?.at | date: 'h:mm a'}}</td>
                                        <td>{{response?.actionTaken}}</td>
                                        <td>{{response?.followUpComments}}</td>
                                      </tr>
                                    </tbody>
                                  </table>




                                <form [formGroup]="followUpForm" (ngSubmit)="onSubmitFollowUpForm()">
                                  <div class="form-row">
                             <div class="form-group">
                        <label>Follow Up Comments</label>
                        <textarea class="form-control" formControlName="followUpComments" id="exampleFormControlTextarea3" rows="5" cols="40" [ngClass]="{ 'is-invalid': submitted && f2.followUpComments.errors }"></textarea>
                            <div *ngIf="submitted && f2.followUpComments.errors" class="invalid-feedback">
                            <div *ngIf="f2.followUpComments.errors.required">Comments are required</div>
                        </div>
                    </div>
                    <div class="form-group" style="margin-left: 100px">
                        <label style="margin-left: 10px">Action Taken</label>
                        <textarea class="form-control" formControlName="actionTaken" id="exampleFormControlTextarea3" rows="5" cols="40" [ngClass]="{ 'is-invalid': submitted && f2.actionTaken.errors }"></textarea>
                        <div *ngIf="submitted && f2.actionTaken.errors" class="invalid-feedback">
                            <div *ngIf="f2.actionTaken.errors.required">Actions are required</div>
                        </div>
                    </div>
                  </div>
                    <br>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Register</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </form>

                             </div>
                        
                    </div>
                  </div>
              </div>
              </div>
              </div>

                   