.msg_cotainer{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #82ccdd;
    padding: 10px;
    position: relative;
}

.msg_time{
    position: absolute;
    left: 0;
    bottom: -15px;
    color: rgba(255,255,255,0.5);
    font-size: 10px;
}

.msg_cotainer_send{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #78e08f;
    padding: 10px;
    position: relative;
}

.msg_time_send{
    position: absolute;
    right:0;
    bottom: -15px;
    color: rgba(255,255,255,0.5);
    font-size: 10px;
}

.type_msg{
    background-color: rgb(210, 213, 219) !important;
    border:0 !important;
    color:white !important;
    height: 60px !important;
    overflow-y: auto;
}
    .type_msg:focus{
     box-shadow:none !important;
   outline:0px !important;
}

.attach_btn{
border-radius: 15px 0 0 15px !important;
background-color: rgb(210, 213, 219) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}

.send_btn{
border-radius: 0 15px 15px 0 !important;
background-color: rgb(210, 213, 219) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}
input[type=checkbox] {
    display:block;
    // visibility: hidden;
}
.v1 {
    border-left: 6px solid grey;
    height: 200px;
    margin-right: 100px;
    margin-left: 100px;
  }