<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h2 class="float-left">Event Main Management</h2>
      <a class="btn btn-secondary float-right text-white" (click)="resetForm()" data-toggle="modal"
        data-target="#modal3">Add New
        Event </a>
      <!-- <a class="btn btn-secondary text-white mx-1 float-right" (click)="resetForm()" data-toggle="modal"
          data-target="#modal2">Upload CSV</a> -->
    </div>
    <div class="card-body">
      <table class="table table table-bordered table-hover table-striped" datatable [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger">
        <thead>
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">Event Name </th>
            <th scope="col">Event Type </th>
            <th scope="col">Event City </th>
            <th scope="col">Organizer </th>
            <th scope="col">Incharge </th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let event of allEvents; let i = index">
            <td>{{i+1}}</td>
            <td>{{event.name}}</td>
            <td>{{event.type}}</td>
            <td>{{event.city}}</td>
            <td>{{event.organizer}}</td>
            <td>{{event.incharge}}</td>
            <td>
              <a style="cursor: pointer" (click)="viewEventType(i)" data-toggle="modal" data-target="#exampleModal"><i
                  class="fas fa-eye"></i></a>
              <a style="cursor: pointer" data-toggle="modal" data-target="#modal3" (click)="editEventType(i)"><i
                  class="fas fa-edit mx-2"></i> </a>
              <a style="cursor: pointer" (click)="deleteEvent(i)"><i class="fas fa-trash-alt"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content tx-14">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel3" *ngIf="!editing">Add New Event</h6>
        <h6 class="modal-title" id="exampleModalLabel3" *ngIf="editing">EditEvent</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
          <div class="form-row">
            <div class="col">
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-4 col-form-label">Event Type</label>
                <div class="col-sm-8">
                  <select name="type" id="" class="form-control" formControlName="type" required
                    [ngClass]="{ 'is-invalid': submitted && f.type.errors }">
                    <option value="" [selected]>Select Event Type</option>
                    <option value="" *ngFor="let type of allEventType" value="{{type._id}}">{{type.name}}</option>
                  </select>
                  <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
                    <div *ngIf="f.type.errors.required">Event Type is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-4 col-form-label">Event Name</label>
                <div class="col-sm-8">
                  <input type="email" name="name" class="form-control" formControlName="name" required
                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                  <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Event Type Name is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-4 col-form-label">Event City</label>
                <div class="col-sm-8">
                  <input type="text" name="city" class="form-control" formControlName="city" required
                    [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
                  <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                    <div *ngIf="f.city.errors.required">Event city is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-4 col-form-label">Event Address</label>
                <div class="col-sm-8">
                  <input type="text" name="address" class="form-control" formControlName="address" required
                    [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
                  <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                    <div *ngIf="f.address.errors.required">Event Address is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-4 col-form-label">Event Organiser</label>
                <div class="col-sm-8">
                  <select name="organizer" id="" class="form-control" formControlName="organizer" required
                    [ngClass]="{ 'is-invalid': submitted && f.organizer.errors }">
                    <option value="" [selected]>Select Event Type</option>
                    <option value="" *ngFor="let type of allEventOrganizer" value="{{type._id}}">{{type.full_name}}
                    </option>
                  </select>
                  <div *ngIf="submitted && f.organizer.errors" class="invalid-feedback">
                    <div *ngIf="f.organizer.errors.required">Event Organizer is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-4 col-form-label">Event Phone</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" formControlName="phone" required
                    [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
                  <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                    <div *ngIf="f.phone.errors.required">Event Phone is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-4 col-form-label">Person In Charge</label>
                <div class="col-sm-8">
                  <select name="incharge" id="" class="form-control" formControlName="incharge" required
                    [ngClass]="{ 'is-invalid': submitted && f.incharge.errors }">
                    <option value="" [selected]>Select Incharge Type</option>
                    <option value="" *ngFor="let type of allInCharge" value="{{type._id}}">{{type.full_name}}</option>
                  </select>
                  <div *ngIf="submitted && f.incharge.errors" class="invalid-feedback">
                    <div *ngIf="f.incharge.errors.required">Event Incharge is required</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="divider-text divider-vertical" data-text="and"></div>

            <div class="col">
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-4 col-form-label">Event Time</label>
                <div class="col-sm-8">
                  <input type="date" name="time" class="form-control" formControlName="time" required
                    [ngClass]="{ 'is-invalid': submitted && f.time.errors }">
                  <div *ngIf="submitted && f.time.errors" class="invalid-feedback">
                    <div *ngIf="f.time.errors.required">Event Time is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-4 col-form-label">Target Leads</label>
                <div class="col-sm-8">
                  <input type="text" name="targetLeads" class="form-control" formControlName="targetLeads" required
                    [ngClass]="{ 'is-invalid': submitted && f.targetLeads.errors }">
                  <div *ngIf="submitted && f.targetLeads.errors" class="invalid-feedback">
                    <div *ngIf="f.targetLeads.errors.required">Event TargetLeads is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-4 col-form-label">Target Conversion</label>
                <div class="col-sm-8">
                  <input type="text" name="targetConversion" class="form-control" formControlName="targetConversion"
                    required [ngClass]="{ 'is-invalid': submitted && f.targetConversion.errors }">
                  <div *ngIf="submitted && f.targetConversion.errors" class="invalid-feedback">
                    <div *ngIf="f.targetConversion.errors.required">Event Target Conversion is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-4 col-form-label">Order To Farm</label>
                <div class="col-sm-8">
                  <select name="farm" id="" class="form-control" formControlName="farm" required
                    [ngClass]="{ 'is-invalid': submitted && f.farm.errors }">
                    <option value="" [selected]>Select Farm</option>
                    <option value="" *ngFor="let farm of allInCharge" value="{{farm._id}}">{{farm.full_name}}</option>
                  </select>
                  <div *ngIf="submitted && f.farm.errors" class="invalid-feedback">
                    <div *ngIf="f.farm.errors.required">Farm Name is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-4 col-form-label">Makerting Material</label>
                <div class="col-sm-8">
                  <input type="text" name="marketingMaterial" class="form-control" formControlName="marketingMaterial"
                    required [ngClass]="{ 'is-invalid': submitted && f.marketingMaterial.errors }">
                  <div *ngIf="submitted && f.marketingMaterial.errors" class="invalid-feedback">
                    <div *ngIf="f.marketingMaterial.errors.required">Event Marketing Material is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-4 col-form-label">Event Cost</label>
                <div class="col-sm-8">
                  <input type="text" name="cost" class="form-control" formControlName="cost" required
                    [ngClass]="{ 'is-invalid': submitted && f.cost.errors }">
                  <div *ngIf="submitted && f.cost.errors" class="invalid-feedback">
                    <div *ngIf="f.cost.errors.required">Event Cost is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <button class="btn btn-success">Submit</button>
                <button class="btn btn-danger">Cancel</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- View Example Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" *ngIf="viewArray">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Event Type Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label> Name</label>
          <input type="text" class="form-control" [(ngModel)]="viewArray.name" disabled />
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->