<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h2 class="float-left">Attribute Management</h2>
      <a class="btn btn-secondary text-white float-right" (click)="resetForm()" data-toggle="modal"
        data-target="#modal3">Add New Attribute</a>
      <!-- <a class="btn btn-secondary text-white mx-1 float-right" (click)="resetForm()" data-toggle="modal"
            data-target="#modal2">Upload CSV</a> -->
    </div>
    <div class="card-body">
      <table class="table table table-hover" datatable [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger">
        <thead>
          <tr>
            <th scope="col">S no.</th>
            <th scope="col">Category Name</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let category of allCategory; let i = index">
              <td>{{i+1}}</td>
              <td>{{category.name}}</td>
              <td *ngIf="category.is_active">Active</td>
              <td *ngIf="!category.is_active">InActive</td>
              <td>
                <a style="cursor: pointer" (click)="viewCategory(i)" data-toggle="modal" data-target="#exampleModal"><i
                    class="fas fa-eye"></i></a>
                <a style="cursor:pointer" data-toggle="modal" data-target="#modal3" (click)="editCategory(i)"><i
                    class="fas fa-edit mx-2"></i></a>
                <a style="cursor:pointer"><i class="fas fa-trash-alt" (click)="deleteCategory(i)"></i></a>
              </td>
            </tr> -->
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content tx-14">
      <div class="modal-header text-center">
        <h6 class="modal-title  h4" id="exampleModalLabel3" *ngIf="editing">Edit Category</h6>
        <h6 class="modal-title  h4" id="exampleModalLabel3" *ngIf="!editing">Add New Category Attribute</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="attributeForm" (ngSubmit)="submit()">
          <div class="form-row">
            <div class="form-group col-lg-4">
              <label for="inputEmail4">Category</label>
              <select class="form-control" formControlName="category" required
                [ngClass]="{ 'is-invalid': submitted && f.category.errors }">
                <option selected disabled>Select Category</option>
                <option [ngValue]="category._id" *ngFor="let category of allCategory;let i=index">{{category.name}}
                </option>
              </select>
              <!-- <input type="text" class="form-control" placeholder="Category here " formControlName="category" required
                      [ngClass]="{ 'is-invalid': submitted && f.category.errors }"> -->
              <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
                <div *ngIf="f.category.errors.required">Category is required</div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-3">
              <label>Name</label>
              <input type="text" class="form-control" formControlName="name">
            </div>

            
            <div class="col-md-5">
              <div formArrayName="values">
                <div *ngFor="let atribute of attributesForm.controls; let i=index" [formGroupName]="i">
                  <div class="row">
                    <div class="col">
                      <div>
                        <label for="period">Attribute Value</label>
                        <input type="text" class="form-control" formControlName="attibute">
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <label for="">Remove</label>
                      <button class="btn btn-primary" (click)="deleteAttribute(i)">-</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div *ngIf="submitted && f.marketingMaterial.errors" class="invalid-feedback">
                <div *ngIf="f.marketingMaterial.errors.required">Event Marketing Material is required</div>
              </div> -->
              <div class="col-md-3 offset-md-1">
                <label>Values</label>
              <button type="button"  class="btn btn-primary " (click)="addAttribute()">Add Value</button>
            
            </div>
          </div>

          <div class=" text-center">
            <button type="submit" class="btn btn-primary tx-13 mx-1">Save</button>
            <button type="button" class="btn btn-secondary tx-13" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Category Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group" *ngIf="showImage">
                <label>Category Image</label>
          <div class="col-sm-3 col-md-2 col-lg text-center" >
            <div class="avatar avatar-xxl avatar-online"><img src="{{image}}" class="rounded-circle" alt=""></div>
          </div>
            </div>
          <div class="form-group">
            <label>Category Name</label>
            <input type="text" class="form-control" [(ngModel)]="viewArray.name" disabled />
          </div>
          <div class="form-group">
            <label>Status</label>
            <p-inputSwitch class="form-control" [(ngModel)]="viewArray.is_active" disabled></p-inputSwitch>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div> -->