<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h2 class="float-left">Vehicle Management</h2>
      <a class="btn btn-secondary float-right text-white" (click)="resetForm()" data-toggle="modal"
        data-target="#modal3">Add New
        Vehicle</a>
      <a class="btn btn-secondary text-white mx-1 float-right" (click)="resetForm()" data-toggle="modal"
        data-target="#modal2">Upload CSV</a>
    </div>
    <div class="card-body">
      <table class="table table table-bordered table-hover table-striped" datatable [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger">
        <thead>
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">ID</th>
            <th scope="col">Vehicle Number</th>
            <th scope="col">Vehicle Type</th>
            <th scope="col">Available</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vehicle of allVehicles; let i = index">
            <td>{{i+1}}</td>
            <td>{{vehicle.Vehicle_id}}</td>
            <td>{{vehicle.number}}</td>
            <td>{{vehicle.type}}</td>
            <td *ngIf="vehicle.isAvailable">Available</td>
            <td *ngIf="!vehicle.isAvailable">Unavailable</td>
            <td>
              <a style="cursor: pointer" data-toggle="modal" data-target="#modal3" (click)="editVehicle(i)"><i
                  class="fas fa-edit mx-2"></i> </a>
              <a style="cursor: pointer" (click)="deleteVehicle(i)"><i class="fas fa-trash-alt"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content tx-14">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel3">Add New Vehicle</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="VehicleForm" (ngSubmit)="submit()">
          <div class="row">
            <div class="col-md-8">
              <div class="divider-text">Fill Vehicle Details</div>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="inputEmail4">Vehicle Number</label>
                  <input type="text" class="form-control" placeholder="Vehicle Number" name="number"
                    formControlName="number" [ngClass]="{ 'is-invalid': submitted && f.number.errors }" required >
                  <div *ngIf="submitted && f.number.errors" class="invalid-feedback">
                    <div *ngIf="f.number.errors.required">Vehicle Number is required</div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="inputEmail4">Vehicle Type</label>
                  <input type="text" class="form-control" placeholder="Vehicle Type" name="type" formControlName="type"
                    [ngClass]="{ 'is-invalid': submitted && f.type.errors }" required>
                  <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
                    <div *ngIf="f.type.errors.required">Vehicle Type is required</div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-2">
                  <label for="inputPassword4">Is Available</label>
                  <p-inputSwitch class="form-control" formControlName="isAvailable" required></p-inputSwitch>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row text-center">
            <button type="submit" class="btn btn-primary tx-13 mx-1">Save</button>
            <button type="button" class="btn btn-secondary tx-13" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>