<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h2 class="float-left">Brand Management</h2>
      <a class="btn btn-primary text-white float-right" (click)="resetForm()" data-toggle="modal"
        data-target="#modal3">Add New Brand</a>
    </div>
    <div class="card-body">
      <table class="table table table-hover" datatable [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger">
        <thead>
          <tr>
            <th scope="col">S no.</th>
            <th scope="col">Category Name</th>
            <th scope="col">Contact No.</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let brand of allBrand; let i = index">
            <td>{{i+1}}</td>
            <td>{{brand.name}}</td>
            <td>{{brand.contact}}</td>
            <td>
              <a style="cursor: pointer" (click)="viewBrand(i)" data-toggle="modal" data-target="#exampleModal"><i
                  class="fas fa-eye"></i></a>
              <a style="cursor:pointer" data-toggle="modal" data-target="#modal3" (click)="editBrand(i)"><i
                  class="fas fa-edit mx-2"></i></a>
              <a style="cursor:pointer"><i class="fas fa-trash-alt" (click)="deleteBrand(i)"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content tx-14">
      <div class="modal-header text-center">
        <h6 class="modal-title  h4" id="exampleModalLabel3" *ngIf="editing">Edit Brand</h6>
        <h6 class="modal-title  h4" id="exampleModalLabel3" *ngIf="!editing">Add New Brand</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="brandForm" (ngSubmit)="onSubmit()">
          <div class="divider-text">Give Brand a Name</div>
          <div class="form-row">

            <input type="text" class="form-control" placeholder="Brand Name Here " formControlName="name" required
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">Brand Name Is Required</div>
            </div>
          </div>
          <div class="divider-text">Give Brand Address</div>
          <div class="form-row">

            <input type="text" class="form-control" placeholder="Address Here " formControlName="address" required
              [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
              <div *ngIf="f.address.errors.required">Address Is Required</div>
            </div>
          </div>
          <div class="divider-text">Contact Information</div>
          <div class="form-row">

            <input type="text" class="form-control" maxlength="10" placeholder="Contact No. Here "
              formControlName="contact" required [ngClass]="{ 'is-invalid': submitted && f.contact.errors }">
            <div *ngIf="submitted && f.contact.errors" class="invalid-feedback">
              <div *ngIf="f.contact.errors.required">Contact No. Is Required</div>
            </div>
          </div>
          <div class="divider-text">Brand Logo</div>
          <div class="form-row" *ngIf="editShowImage">
            <div class="form-group">
              <label>Brand Image</label>
              <div class="col-sm-3 col-md-2 col-lg text-center">
                <div class="avatar avatar-xxl avatar-online"><img src="{{editImage}}" class="rounded-circle" alt="">
                </div>
              </div>
            </div>
          </div>

          <div class="form-row offset-md-6">
            <div class="form-group custom-file">
              <label class="custom-file-label" for="customFile">Select Brand Image</label>
              <input type="file" formControlName="logo" (change)="selectFile($event)" class="custom-file-input"
                id="customFile">
            </div>
          </div>
          <br>
          <div class=" text-center">
            <button type="submit" class="btn btn-primary tx-13 mx-1">Save</button>
            <button type="button" class="btn btn-primary tx-13" data-dismiss="modal">Close</button>
          </div>
          <!-- <div class="text-center">
            <button type="submit" class="btn btn-primary tx-13 mx-1">Save</button>
            <button type="button" class="btn btn-primary tx-13" data-dismiss="modal">Close</button>
          </div> -->
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title ml-auto font-weight-bold" id="exampleModalLabel">Brand Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group" *ngIf="showImage">
          <label>Brand Image</label>
          <div class="col-sm-3 col-md-2 col-lg text-center">
            <div class="avatar avatar-xxl avatar-online"><img src="{{image}}" class="rounded-circle" alt=""></div>
          </div>
        </div>
        <div class="form-group">
          <label>Brand Name</label>
          <input type="text" class="form-control" [(ngModel)]="viewArray.name" disabled />
        </div>
        <div class="form-group">
          <label>Brand Address</label>
          <input type="text" class="form-control" [(ngModel)]="viewArray.address" disabled />
        </div>
        <div class="form-group">
          <label>Contact No.</label>
          <input type="text" class="form-control" [(ngModel)]="viewArray.contact" disabled />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>