<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h2 class="float-left">Challan Management</h2>
    </div>
    <div class="card-body">
      <table class="table table table-bordered table-hover table-striped" datatable [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger">
        <thead>
          <tr>
            <th scope="col">S.no</th>
            <th scope="col">Challan Id No.</th>
            <th scope="col">Challan Date</th>
            <th scope="col">Challan To</th>
            <!-- <th scope="col">Manager</th> -->
            <th scope="col">Challan By</th>
            <!-- <th scope="col">Order by Manager</th> -->
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let challan of allChallans; let i = index">
            <td>{{i+1}}</td>
            <td>{{challan.challan_id | uppercase}}</td>
            <td>{{challan.challan_date | date:'dd/MM/yy'}}</td>
            <td>{{challan.processing_unit_incharge.full_name | titlecase}}</td>
            <td>{{challan.dispatch_processing_unit.full_name | titlecase}}</td>
            <td>
              <!-- <a style="cursor:pointer" data-toggle="modal" data-target="#modal3" (click)="editOrder(i)"><i
                  class="fas fa-edit mx-2"></i></a> -->
              <a style="cursor:pointer" data-toggle="modal" data-target="#challanModel" (click)="selectChallan(i)"><i
                  class="fas fa-eye"></i></a>
              <a style="cursor:pointer"><i class="fas fa-trash-alt" (click)="deleteChallan(i)"></i></a>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" *ngIf="currentChallan" id="challanModel" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel3" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content tx-14">
      <div class="modal-header">
        <div>
          <h6 class="mg-b-5">Invoice #{{currentChallan.challan_id}}</h6>
          <p class="mg-b-0 tx-color-03">Due on {{currentChallan.challan_date}}</p>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="content tx-13">
        <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
          <div class="row">
            <div class="col-md-6">
              <div class="col-sm-4">
                <label class="tx-sans tx-uppercase tx-10 tx-medium tx-spacing-1 tx-color-03">Billed From</label>
                <h6 class="tx-15 mg-b-10">{{currentChallan.processing_unit_incharge.full_name}}</h6>
                <!-- <p class="mg-b-0">201 Something St., Something Town, YT 242, Country 6546</p> -->
                <p class="mg-b-0">{{currentChallan.processing_unit_incharge.mobile_phone}}</p>
                <p class="mg-b-0">{{currentChallan.processing_unit_incharge.email}}</p>
              </div>
              <div class="col-sm-4 col-lg-8 mg-t-40 mg-sm-t-0 mg-md-t-40">
                <label class="tx-sans tx-uppercase tx-10 tx-medium tx-spacing-1 tx-color-03">Billed To</label>
                <h6 class="tx-15 mg-b-10">{{currentChallan.processing_unit_incharge.full_name}}</h6>
                <!-- <p class="mg-b-0">4033 Patterson Road, Staten Island, NY 10301</p> -->
                <p class="mg-b-0">{{currentChallan.processing_unit_incharge.mobile_phone}}</p>
                <p class="mg-b-0">{{currentChallan.processing_unit_incharge.email}}</p>
              </div>
            </div>
            <div class="col-md-6 ">
              <div class="offset-md-4 col-sm-6 col-lg-4 mg-t-40">
                <label class="tx-sans tx-uppercase tx-10 tx-medium tx-spacing-1 tx-color-03">Invoice Information</label>
                <ul class="list-unstyled lh-7">
                  <li class="d-flex justify-content-between">
                    <span>Invoice Number</span>
                    <span>{{currentChallan.challan_id}}</span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <span>Issue Date</span>
                    <span>{{currentChallan.challan_date}}</span>
                  </li>
                  <li class="d-flex justify-content-between">
                    <span>Due Date</span>
                    <span>April 21, 2019</span>
                  </li>
                </ul>
              </div>
            </div>
          </div><!-- row -->

          <div class="row">
            <div class="table-responsive mg-t-40">
              <table class="table table-invoice bd-b">
                <thead>
                  <tr>
                    <th class="wd-20p">Product Name</th>
                    <th class="wd-40p d-none d-sm-table-cell">Requested</th>
                    <th class="tx-center">Accepeted</th>
                    <th class="tx-right">Status</th>
                    <!-- <th class="tx-right">Amount</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of allProducts; let i = index">
                    <td class="tx-nowrap">{{product.product.name}}</td>
                    <td class="d-none d-sm-table-cell tx-color-03">{{product.requested}}</td>
                    <td class="tx-center">{{product.accepted}}</td>
                    <td class="tx-right">{{product.product.is_active}}</td>
                    <!-- <td class="tx-right">$300.00</td> -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="table-responsive mg-t-40">
              <table class="table table-invoice bd-b">
                <thead>
                  <tr>
                    <th class="wd-20p">Vehicle Number</th>
                    <th class="wd-40p d-none d-sm-table-cell">Vehicle Type</th>
                    <th class="tx-center">Driver Name</th>
                    <th class="tx-right">Driver Mobile</th>
                    <th class="tx-right">DL Number</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="tx-nowrap">{{currentChallan.vehicle.number}}</td>
                    <td class="tx-nowrap">{{currentChallan.vehicle.type}}</td>
                    <td class="tx-center">{{currentChallan.driver.name}}</td>
                    <td class="tx-right">{{currentChallan.driver.mobile}}</td>
                    <td class="tx-right">{{currentChallan.driver.dl_number}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row justify-content-between">
            <div class="col-sm-6 col-lg-6 order-2 order-sm-0 mg-t-40 mg-sm-t-0">
              <label class="tx-sans tx-uppercase tx-10 tx-medium tx-spacing-1 tx-color-03">Notes</label>
              <p></p>
            </div>
            <button *ngIf="!currentChallan.status" class="btn btn-success float-right"
              (click)="changeChallanStatus()">Accept Challan</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" *ngIf="currentOrder" id="challanModel" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel3" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content tx-14">
        <div class="modal-header">
          <div class="d-sm-flex align-items-center justify-content-between">
            <div>
              <h6 class="mg-b-5">Invoice {{currentOrder?.order_id}}</h6>
              <p class="mg-b-0 tx-color-03">Due on {{currentOrder?.order_date | date : 'dd/MM/yy'}}</p>
            </div>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="challanForm" (ngSubmit)="saveChallan()">
            <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
              <div class="row">
                <div class="col-sm-4">
                  <label class="tx-sans tx-uppercase tx-10 tx-medium tx-spacing-1 tx-color-03">Billed From</label>
                  <h6 class="tx-15 mg-b-10">{{currentOrder?.placed_by?.full_name}}</h6>
                  <!-- <p class="mg-b-0">{{currentOrder.placed_by.full_name}}</p> -->
                  <p class="mg-b-0">{{currentOrder?.placed_by?.mobile_number}}</p>
                  <p class="mg-b-0">{{currentOrder?.placed_by?.email}}</p>
                </div><!-- col -->
                <div class="col-sm-6 offset-md-4 col-lg-4 mg-t-30">
                  <label class="tx-sans tx-uppercase tx-10 tx-medium tx-spacing-1 tx-color-03">Invoice
                    Information</label>
                  <ul class="list-unstyled lh-7">
                    <li class="d-flex justify-content-between">
                      <span>Invoice Number</span>
                      <span>{{currentOrder?.order_id}}</span>
                    </li>
                    <!-- <li class="d-flex justify-content-between">
                              <span>Product ID</span>
                              <span>32334300</span>
                            </li> -->
                    <li class="d-flex justify-content-between">
                      <span>Issue Date</span>
                      <span>{{currentOrder?.order_date | date:'dd/MM/yy'}}</span>
                    </li>
                    <!-- <li class="d-flex justify-content-between">
                              <span>Due Date</span>
                              <span>April 21, 2019</span>
                            </li> -->
                  </ul>
                </div><!-- col -->
                <div class="col-sm-4 col-lg-8 mg-t-30 mg-sm-t-0 mg-md-t-40">
                  <label class="tx-sans tx-uppercase tx-10 tx-medium tx-spacing-1 tx-color-03">Billed To</label>
                  <h6 class="tx-15 mg-b-10">{{currentOrder?.placed_by?.full_name}}</h6>
                  <p class="mg-b-0">{{currentOrder?.placed_by?.mobile_number}}</p>
                  <p class="mg-b-0">{{currentOrder?.placed_by?.email}}</p>
                  <!-- <p class="mg-b-0">Email: youremail@companyname.com</p> -->
                </div><!-- col -->
              </div>
              <div class="mg-t-30">
                <div class="row">
                  <table class="table table-invoice bd-b">
                    <thead>
                      <tr>
                        <th class="wd-20p">Type</th>
                        <th class="wd-40p d-none d-sm-table-cell">Brand</th>
                        <th class="tx-center">Requested Quantity</th>
                        <th class="tx-center">Accepted Quantity</th>
                        <!-- <th class="tx-right">Status</th> -->
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let product of currentOrder.products; let i = index">
                        <td class="tx-nowrap">{{product?.product.name}}</td>
                        <td class="d-none d-sm-table-cell tx-color-03">{{product?.product.brand}}</td>
                        <td class="tx-center">{{product?.quantity}}</td>
                        <td class="tx-center">{{product?.accepted}}</td>
                        <!-- <td class="tx-right">{{product?.dispatch}}</td> -->
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-row">
                      <div class="col-md-4"><label for="">Vehicle Number</label></div>
                      <div class="col-md-8">
                        <select formControlName="vehicle" class="form-control" (change)="getVehicle2($event)">
                          <option selected disabled>Select vehicle Number</option>
                          <option [ngValue]="vehicle._id" *ngFor="let vehicle of allVehicle;let i=index">
                            {{vehicle.number}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-row">
                      <div class="col-md-4"><label for="">Driver Name</label></div>
                      <div class="col-md-">
                        <select formControlName="driver" class="form-control" (change)="getDriver($event)">
                          <option selected disabled>Select Driver</option>
                          <option [ngValue]="driver._id" *ngFor="let driver of alldriver;let i=index">{{driver.name}}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="form-row">
                        <div class="col-md-6"><label for="">Departure Date</label></div>
                        <div class="col-md-6"><input type="date" formControlName="departure" class="form-control">
                        </div>
                      </div> -->
                </div>
                <!-- </div> -->
              </div>
              <div class="row justify-content-between">
                <div class="col-sm-6 col-lg-6 order-2 order-sm-0 mg-t-30 mg-sm-t-0">
                  <label class="tx-sans tx-uppercase tx-10 tx-medium tx-spacing-1 tx-color-03">Notes</label>
                  <p></p>
                </div>
              </div>
              <div class="float-right">
                <button class="btn btn-primary mg-l-5" (click)="saveChallan()"><i data-feather="credit-card"
                    class="mg-r-5"></i> Accept Challan</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>