<router-outlet></router-outlet>


<div class="content content-fixed content-auth-alt">
    <div class="container ht-100p tx-center">
      <div class="ht-100p d-flex flex-column align-items-center justify-content-center">
        <div class="wd-70p wd-sm-250 wd-lg-300 mg-b-15"><img src="https://image.freepik.com/free-vector/construction-web-template-flat-style_23-2147771970.jpg" class="img-fluid" alt=""></div>
        <h1 class="tx-color-01 tx-24 tx-sm-32 tx-lg-36 mg-xl-b-5">Currently under Construction</h1>
        <h5 class="tx-16 tx-sm-18 tx-lg-20 tx-normal mg-b-20">Oopps. The service is not available right now.</h5>
        <p class="tx-color-03 mg-b-30">Page for main dashboard will be here!</p>
        <!-- <div class="mg-b-40"><button class="btn btn-white bd-2 pd-x-30">Back to Home</button></div> -->

      </div>
    </div><!-- container -->
  </div><!-- content -->