<div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h2 class="float-left">Chat Management</h2>
        <a class="btn btn-secondary float-right text-white"  data-toggle="modal"
          data-target="#modal3">Add New Chat</a>
        <!-- <a class="btn btn-secondary text-white mx-1 float-right" (click)="resetForm()" data-toggle="modal"
          data-target="#modal2">Upload CSV</a> -->
      </div>
      <div class="card-body">
        <table class="table table table-bordered table-hover table-striped" datatable [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger">
          <thead>
            <tr>
              <th scope="col">S.No</th>
              <th scope="col">Ticket Number</th>
              <th scope="col">Ticket Date</th>
              <th scope="col">Status</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr *ngFor="let ticket of allTickets; let i = index">
              <td>{{i+1}}</td>
              <td>{{ticket.ticket_number}}</td>
              <td>{{ticket.created_at | date: 'dd/mm/yy'}}</td>
              <td>{{ticket.status | uppercase}}</td>
              <td>
                  <a style="cursor: pointer" (click)="viewTicket(i)" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-eye"></i></a>
                <a style="cursor: pointer" data-toggle="modal" data-target="#modal3" (click)="editState(i)"><i
                    class="fas fa-edit mx-2"></i> </a>
                <a style="cursor: pointer" (click)="deleteState(i)"><i class="fas fa-trash-alt"></i></a>
              </td>
            </tr> -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content tx-14">
        <div class="modal-header">
          <h6 class="modal-title" id="exampleModalLabel3" >Chat Box</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
  
          
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
      </div>
    </div>
  </div>
  
    
    <!--View Example Modal -->
    <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="max-height: 1000px;overflow-y: scroll">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ticket Information</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              
                  <div class="form-group">
                      <input type="checkbox"  disabled [(ngModel)]="viewIssuesArray.delivery_issue" >
                    <label class="form-check-label" for="exampleCheck1">Delievery Issue</label>
                  </div>
                  <div class="form-group">
                      <input type="checkbox"  disabled [(ngModel)]="viewIssuesArray.issue_with_previous_order" >
                    <label class="form-check-label" for="exampleCheck1">Issue With Previous Order</label>
                  </div>
                  <div class="form-group">
                      <input type="checkbox"  disabled [(ngModel)]="viewIssuesArray.quality_issue" >
                    <label class="form-check-label" for="exampleCheck1">Quality Issue</label>
                  </div>
                  <div class="form-group">
                      <input type="checkbox"  disabled [(ngModel)]="viewIssuesArray.recharge_or_tech_related_issue" >
                    <label class="form-check-label" for="exampleCheck1">Recharge Or Tech Related Issue</label>
                  </div>
                  <div class="form-group">
                      <input type="checkbox"  disabled [(ngModel)]="viewIssuesArray.timing_issue" >
                    <label class="form-check-label" for="exampleCheck1">Timing Issue</label>
                  </div>
                  <div class="form-group">
                      <input type="checkbox"  disabled [(ngModel)]="viewIssuesArray.other" >
                    <label class="form-check-label" for="exampleCheck1">Others</label>
                  </div> 
  
                  <div class="divider-text">Messages</div>
                  
                  <div *ngFor="let message of viewMessagesArray;let i=index">
                     
                    <div *ngIf="message.customer"> 
                      <div  class="d-flex justify-content-start mb-4">
                        <div class="msg_cotainer">
                          {{message.customer}}
                          <span class="msg_time">{{message.at | date: 'dd/mm/yy'}}</span>
                        </div>
                      </div>
                    </div>
  
                    <div *ngIf="!message.customer">
                      <div class="d-flex justify-content-end mb-4">
                        <div class="msg_cotainer_send">
                          {{message.message}}
                          <span class="msg_time_send">{{message.at | date: 'dd/mm/yy'}}</span>
                        </div>
                      </div>
                    </div>
                   </div>
  
          </div>
          <div class="divider-text">Write Message To Customer</div>
          <div class="modal-footer">
              
              <div class="input-group">
                  <textarea id="input-box" #searchInput  class="form-control" (change)="ticketText($event)" rows="1" placeholder="Type a message..."></textarea>
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button" (click)="sendMessage()">send</button>
                    </span>
               </div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div> -->